<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">D I N N E R</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-content [fullscreen]="true">

    <br>
    <ion-button class="back" (click)="c3()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    
    <div>
    <ion-card>
      <img alt="Escabeche" src="./assets/images/escabeche.png" />
      <ion-card-header>
        <ion-card-title>Escabeche</ion-card-title>
        <ion-card-content>
          This appetizing recipe is known for its sweet and sour qualities as a result of a glorious mix of seasonings and other ingredients. 
          Escabeche, in most of its forms, makes use of vinegar for that classic sour taste in our sauce, which we use to coat either fish or meat.
        </ion-card-content>
        <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
        <ion-grid>
          <ion-row class="ion-justify-content-start">
            <ion-col size="6" size-sm="3">kcal: 416</ion-col>
            <ion-col size="6" size-sm="3">fat: 22g</ion-col>
            <ion-col size="6" size-sm="3">saturates: 10g</ion-col>
            <ion-col size="6" size-sm="3">carbs: 5g</ion-col>
            <ion-col size="6" size-sm="3">sugars: 2g</ion-col>
            <ion-col size="6" size-sm="3">fiber: 1g</ion-col>
            <ion-col size="6" size-sm="3">protein: 46g</ion-col>
            <ion-col size="6" size-sm="3">salt: 0.7g</ion-col>
          </ion-row>
        </ion-grid>
  
      <ion-card-subtitle>Ingredients:</ion-card-subtitle>
      <ion-card-content>
        <li>2 lbs fish (large) sliced into serving pieces</li>
        <li>¾ cup cooking oil</li>
        <li>2 tablespoons salt</li>
        <li>1 onion thinly sliced</li>
        <li>3 cloves garlic chopped</li>
        <li>2 thumbs ginger Julienne</li>
        <li>1 red bell pepper Julienne</li>
        <li>1 green bell pepper Julienne</li>
        <li>1 carrot Julienne</li>
        <li>3 tablespoons white vinegar</li>
        <li>4 tablespoons banana ketchup</li>
        <li>3 tablespoons white sugar</li>
        <li>1 cup water</li>
        <li>1 tablespoon cornstarch</li>
        <li>2 tablespoons cooking oil</li>
        <li>Salt and ground black pepper to taste</li>
      </ion-card-content>
  
      <ion-card>
        <ion-card-header>
          <ion-card-title>Directions</ion-card-title>
          <ion-card-subtitle>Step 1</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Rub salt all over the fish slices. Let it stand for 5 minutes.
          Heat cooking oil. Fry both sides of the fish until it turns golden brown in color. Remove the fish from the pan and arrange on a serving plate.
          Make the escabeche sauce by heating 2 tablespoons of oil in a pan. Sauté garlic and onion until the latter softens.
        </ion-card-content>
  
        <ion-card-header>
          <ion-card-subtitle>Step 2</ion-card-subtitle>
        </ion-card-header>
  
        <ion-card-content>
          Add tomato ketchup, vinegar, sugar, and water. Stir and let boil.
          Put the bell peppers and carrots into the pan. Cook for 3 minutes.
          Season with salt and pepper.
        </ion-card-content>
  
        <ion-card-header>
          <ion-card-subtitle>Step 3</ion-card-subtitle>
        </ion-card-header>
  
        <ion-card-content>
          Combine cornstarch with 2 tablespoons of water. Mix well. Pour the mixture into the pan. Stir until the sauce thickens to your desired consistency.
          Pour the escabeche sauce over the fried fish. Serve warm.
          Share and enjoy!
        </ion-card-content>
  
      </ion-card>
      </ion-card-header>
  
    </ion-card>
  </div>
  </ion-content>
