<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">L U N C H</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <br>
  <ion-button class="back" (click)="c2()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <div>
  <ion-card>
    <img alt="Pinakbet" src="./assets/images/pinakbet.png" />
    <ion-card-header>
      <ion-card-title>Pinakbet</ion-card-title>
      <ion-card-content>
        Pinakbet Tagalog is a Filipino vegetable dish. 
        It is composed of a variety of vegetables and it also has a protein component.
      </ion-card-content>
      <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col size="6" size-sm="3">kcal: 179</ion-col>
          <ion-col size="6" size-sm="3">fat: 10.3g</ion-col>
          <ion-col size="6" size-sm="3">saturates: 11g</ion-col>
          <ion-col size="6" size-sm="3">carbs: 8.3g</ion-col>
          <ion-col size="6" size-sm="3">sugar: 5g</ion-col>
          <ion-col size="6" size-sm="3">fiber: 7g</ion-col>
          <ion-col size="6" size-sm="3">protein: 5g</ion-col>
          <ion-col size="6" size-sm="3">salt: 0.08g</ion-col>
        </ion-row>
      </ion-grid>

    <ion-card-subtitle>Ingredients:</ion-card-subtitle>
    <ion-card-content>
      <li>2 lbs. Pork sliced into cubes</li>
      <li>1 piece Knorr Pork cube</li>
      <li>8 oz. tomato sauce</li>
      <li>¾ cup green olives</li>
      <li>1 piece red bell pepper sliced</li>
      <li>1 piece green bell pepper sliced</li>
      <li>2 pieces potatoes cubed</li>
      <li>2 pieces carrot sliced</li>
      <li>1 piece onion chopped</li>
      <li>3 cloves garlic chopped</li>
      <li>1 1/2 cups water</li>
      <li>½ cup liver spread</li>
      <li>3 tablespoons cooking oil</li>
      <li>Salt and ground black pepper to taste</li>
    </ion-card-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Instructions</ion-card-title>
        <ion-card-subtitle>Step 1</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Heat cooking oil in a pot. Saute onion and garlic. Add ginger and continue to cook until the onion softens.
        Add lechon kawali. Saute for 1 minute.
        Pour water. Let boil.
        Add Knorr Shrimp Cube. Cover the pot and cook in medium heat for 20 minutes.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 2</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Heat cooking oil in a pot. Saute onion and garlic. Add ginger and continue to cook until the onion softens.
        Add lechon kawali. Saute for 1 minute.
        Pour water. Let boil.
        Add Knorr Shrimp Cube. Cover the pot and cook in medium heat for 20 minutes.
      </ion-card-content>
      
    </ion-card>
    </ion-card-header>

  </ion-card>
</div>
</ion-content>

