<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">L U N C H</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <br>
  <ion-button class="back" (click)="c2()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <div>
  <ion-card>
    <img alt="Chicken Caldereta" src="./assets/images/chickencaldereta.png" />
    <ion-card-header>
      <ion-card-title>Chicken Caldereta</ion-card-title>
      <ion-card-content>
        Chicken Caldereta is a type of Filipino chicken stew. This version involves cooking the chicken in a tomato-based sauce. I also add a good amount of liver spread to make the sauce more flavorful. 
        This ingredient makes this dish unique in a good way.
      </ion-card-content>
      <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col size="6" size-sm="3">kcal: 714</ion-col>
          <ion-col size="6" size-sm="3">fat: 53g</ion-col>
          <ion-col size="6" size-sm="3">saturates: 13g</ion-col>
          <ion-col size="6" size-sm="3">carbs: 9g</ion-col>
          <ion-col size="6" size-sm="3">sugar: 5g</ion-col>
          <ion-col size="6" size-sm="3">fiber: 2g</ion-col>
          <ion-col size="6" size-sm="3">protein: 50g</ion-col>
          <ion-col size="6" size-sm="3">salt: 0.78g</ion-col>
        </ion-row>
      </ion-grid>

    <ion-card-subtitle>Ingredients:</ion-card-subtitle>
    <ion-card-content>
      <li>2 lbs chicken cut into pieces</li>
      <li>1 piece Knorr Chicken Cube</li>
      <li>2 pieces carrots wedged</li>
      <li>2 pieces potato cubed</li>
      <li>8 ounces tomato sauce</li>
      <li>2 pieces bell pepper sliced</li>
      <li>4 tablespoons liver spread</li>
      <li>1 piece tomato cubed</li>
      <li>3 pieces chili pepper chopped</li>
      <li>1 piece onion chopped</li>
      <li>3 cloves garlic crushed</li>
      <li>3 tablespoons cheddar cheese grated</li>
      <li>1 ½ cups water</li>
      <li>4 tablespoons cooking oil</li>
    </ion-card-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Instructions</ion-card-title>
        <ion-card-subtitle>Step 1</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Start by pan-frying the potato and carrots. Heat oil in a pan. Add potato. Fry each side for 1 minute. Remove from the pan and put in a bowl lined with paper towel. Set aside. Do the same thing with the carrots.
        Using the remaining oil, fry the chicken for 1 ½ minutes per side. Remove from the pan. Set aside.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 2</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Saute onion and garlic. Add tomato. Continue to saute while stirring until tomato and onion softens.
        Add chicken and pour-in tomato sauce and water. Let boil.
        Stir and then add Knorr Chicken Cube and chili pepper. Cover the pan. Cook between low to medium heat for 15 minutes.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 3</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Turn the chicken pieces over to equally cook the opposite side. Add liver spread. Stir. Cover and cook for 20 minutes.
        Add bell peppers and cheese. Cook for 3 minutes.
        Put the carrots and potatoes into the pan. Continue to cook for 5 to 7 minutes.
        Season with salt and ground black pepper. Serve. Share and enjoy.
      </ion-card-content>
      
    </ion-card>
    </ion-card-header>

  </ion-card>
</div>
</ion-content>
