<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">GoodFood</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <br>
  <ion-button class="back" (click)="tab2()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <ion-card>
    <img alt="Breakfast" src="./assets/images/c4.png">
  </ion-card>

  <div>
    <ion-row>
    <ion-col size="6">
  <ion-card (click)="d1()">
    <img alt="Chocolate-Dipped Strawberries" src="./assets/images/d1.png" />
    <ion-card-header>
      <ion-card-title>Chocolate-Dipped Strawberries</ion-card-title>
      <ion-card-subtitle>kcal: 145</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  </ion-col>

  <ion-col size="6">
    <ion-card (click)="d2()">
      <img alt="Chocolate Chia Pudding" src="./assets/images/d2.png" />
      <ion-card-header>
        <ion-card-title>Chocolate Chia Pudding</ion-card-title>
        <ion-card-subtitle>kcal: 130</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    </ion-col>

  <ion-col size="6">
  <ion-card (click)="d3()">
    <img alt="Ginataang Bilo bilo with Langka" src="./assets/images/d3.png" />
    <ion-card-header>
      <ion-card-title>Ginataang Bilo bilo with Langka</ion-card-title>
      <ion-card-subtitle>kcal: 599</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  </ion-col>

  <ion-col size="6">
  <ion-card (click)="d4()">
    <img alt="Healthy Banana Bread" src="./assets/images/d4.png" />
    <ion-card-header>
      <ion-card-title>Healthy Banana Bread</ion-card-title>
      <ion-card-subtitle>kcal: 145</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  </ion-col>

  <ion-col size="6">
  <ion-card (click)="d5()">
    <img alt="Healthy Banana Muffins" src="./assets/images/d5.png" />
    <ion-card-header>
      <ion-card-title>Healthy Banana Muffins</ion-card-title>
      <ion-card-subtitle>kcal: 179</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  </ion-col>

  <ion-col size="6">
    <ion-card (click)="d6()">
      <img alt="Healthy Chocolate Brownies" src="./assets/images/d6.png" />
      <ion-card-header>
        <ion-card-title>Healthy Chocolate Brownies</ion-card-title>
        <ion-card-subtitle>kcal: 121</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    </ion-col>

  <ion-col size="6">
  <ion-card (click)="d7()">
    <img alt="Instant Frozen Berry Yogurt" src="./assets/images/d7.png" />
    <ion-card-header>
      <ion-card-title>Instant Frozen Berry Yogurt</ion-card-title>
      <ion-card-subtitle>kcal: 71</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  </ion-col>

  <ion-col size="6">
  <ion-card (click)="d8()">
    <img alt="Strawberry Frozen Yogurt" src="./assets/images/d8.png" />
    <ion-card-header>
      <ion-card-title>Strawberry Frozen Yogurt</ion-card-title>
      <ion-card-subtitle>kcal: 173</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  </ion-col>

  <ion-col size="6">
  <ion-card (click)="d9()">
    <img alt="Mango Sorbet" src="./assets/images/d9.png" />
    <ion-card-header>
      <ion-card-title>Mango Sorbet</ion-card-title>
      <ion-card-subtitle>kcal: 184</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  </ion-col>

  <ion-col size="6">
  <ion-card (click)="d10()">
    <img alt="Raspberry Sorbet" src="./assets/images/d10.png" />
    <ion-card-header>
      <ion-card-title>Raspberry Sorbet</ion-card-title>
      <ion-card-subtitle>kcal: 96</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  </ion-col>
</ion-row>
</div>
</ion-content>
