<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">D E S S E R T</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <br>
  <ion-button class="back" (click)="c4()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <div>
  <ion-card>
    <img alt="Mango Sorbet" src="./assets/images/d9.png" />
    <ion-card-header>
      <ion-card-title>Mango Sorbet</ion-card-title>
      <ion-card-content>
        Make the most of sweet mangoes with this refreshing mango sorbet. 
        Low in fat, it's the perfect dessert for warm, balmy days.
      </ion-card-content>
      <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col size="6" size-sm="3">kcal: 184</ion-col>
          <ion-col size="6" size-sm="3">fat: 1g</ion-col>
          <ion-col size="6" size-sm="3">saturates: 0.1g</ion-col>
          <ion-col size="6" size-sm="3">carbs: 43g</ion-col>
          <ion-col size="6" size-sm="3">sugars: 43g</ion-col>
          <ion-col size="6" size-sm="3">fiber: 2g</ion-col>
          <ion-col size="6" size-sm="3">protein: 1g</ion-col>
          <ion-col size="6" size-sm="3">salt: 0.01g</ion-col>
        </ion-row>
      </ion-grid>

    <ion-card-subtitle>Ingredients:</ion-card-subtitle>
    <ion-card-content>
      <li>3 large, ripe mangoes</li>
      <li>200g caster sugar</li>
      <li>1 lime, juiced</li>
    </ion-card-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Directions</ion-card-title>
        <ion-card-subtitle>Step 1</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Peel the mangoes with a vegetable peeler, cut as much of the flesh away from the stone as you can, put it in a food processor or blender.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 2</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Add the sugar, lime juice and 200ml water. Blend for a few minutes, until the mango is very smooth and the sugar has dissolved 
        – rub a little of the mixture between your fingers, if it still feels gritty, blend for a little longer. Pour into a container and put in the freezer for a few hours.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 3</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Scrape the sorbet back into the blender (if it’s very solid, leave at room temperature for 5-10 mins first). 
        Whizz until you have a slushy mixture, then pour back into the tin and freeze for another hour or so.
      </ion-card-content>
      
      <ion-card-header>
        <ion-card-subtitle>Step 4</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Repeat step 3. Freeze until solid (another hour or two). 
        Will keep covered in the freezer for three months.
      </ion-card-content>

    </ion-card>
    </ion-card-header>

  </ion-card>
</div>
</ion-content>