<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">L U N C H</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <br>
  <ion-button class="back" (click)="c2()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <div>
  <ion-card>
    <img alt="Pork Steak" src="./assets/images/porksteak.png" />
    <ion-card-header>
      <ion-card-title>Pork Steak</ion-card-title>
      <ion-card-content>
        Filipino beef steak, more fondly known as Bistek, utilizes this beautiful combination. 
        But today, we’ll be exploring Pork Steak, which is a twist on that original recipe in using succulent pork chops as its meat. 
      </ion-card-content>
      <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col size="6" size-sm="3">kcal: 265</ion-col>
          <ion-col size="6" size-sm="3">fat: 28g</ion-col>
          <ion-col size="6" size-sm="3">saturates: 2g</ion-col>
          <ion-col size="6" size-sm="3">carbs: 2g</ion-col>
          <ion-col size="6" size-sm="3">sugar: 1g</ion-col>
          <ion-col size="6" size-sm="3">fiber: 1g</ion-col>
          <ion-col size="6" size-sm="3">protein: 3g</ion-col>
          <ion-col size="6" size-sm="3">salt: 1.26g</ion-col>
        </ion-row>
      </ion-grid>

    <ion-card-subtitle>Ingredients:</ion-card-subtitle>
    <ion-card-content>
      <li>2 lbs. Pork sliced into cubes</li>
      <li>1 piece Knorr Pork cube</li>
      <li>8 oz. tomato sauce</li>
      <li>¾ cup green olives</li>
      <li>1 piece red bell pepper sliced</li>
      <li>1 piece green bell pepper sliced</li>
      <li>2 pieces potatoes cubed</li>
      <li>2 pieces carrot sliced</li>
      <li>1 piece onion chopped</li>
      <li>3 cloves garlic chopped</li>
      <li>1 1/2 cups water</li>
      <li>½ cup liver spread</li>
      <li>3 tablespoons cooking oil</li>
      <li>Salt and ground black pepper to taste</li>
    </ion-card-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Instructions</ion-card-title>
        <ion-card-subtitle>Step 1</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Combine pork chops, soy sauce, and lime juice in a large bowl or resealable bag. Marinate for at least 1 hour.
        Heat a pan then pour-in cooking oil.
        Pan-fry the marinated pork chops in medium heat for 3 minutes per side.
        Remove excess oil. Pour-in the remaining marinade and water and let boil. Simmer for 45 minutes or until the pork is tender. Note: Add water as needed.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 2</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Add-in the sugar, salt, and pepper then stir.
        Put-in the onions and cook for 3 minutes more.
        Turn-off heat and transfer to a serving plate.
        Serve. Share and enjoy!
      </ion-card-content>
      
    </ion-card>
    </ion-card-header>

  </ion-card>
</div>
</ion-content>
