<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">D I N N E R</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <br>
  <ion-button class="back" (click)="c3()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <div>
  <ion-card>
    <img alt="Sinigang na Hipon" src="./assets/images/siniganghipon.png" />
    <ion-card-header>
      <ion-card-title>Sinigang na Hipon</ion-card-title>
      <ion-card-content>
        Sinigang na Hipon is a Filipino main dish having shrimp as the main ingredient. Fresh Shrimps and vegetables are cooked by boiling in a sour broth. The commonly used souring agent is tamarind. 
        However, other fruits such as guava, tomato, bilimbi (known as kamias), green mango, pineapple, and wild mangosteen (santol) can also be used.
      </ion-card-content>
      <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col size="6" size-sm="3">kcal: 283</ion-col>
          <ion-col size="6" size-sm="3">fat: 3g</ion-col>
          <ion-col size="6" size-sm="3">saturates: 1g</ion-col>
          <ion-col size="6" size-sm="3">carbs: 38g</ion-col>
          <ion-col size="6" size-sm="3">sugars: 19g</ion-col>
          <ion-col size="6" size-sm="3">fiber: 15g</ion-col>
          <ion-col size="6" size-sm="3">protein: 32g</ion-col>
          <ion-col size="6" size-sm="3">salt: 0.96g</ion-col>
        </ion-row>
      </ion-grid>

    <ion-card-subtitle>Ingredients:</ion-card-subtitle>
    <ion-card-content>
      <li>1 lb. shrimp cleaned</li>
      <li>44 grams Knorr Sinigang sa Sampaloc Mix</li>
      <li>1 bunch kangkong</li>
      <li>15 pieces snake beans</li>
      <li>5 pieces okra</li>
      <li>1 piece eggplant</li>
      <li>1 cup daikon radish sliced</li>
      <li>1 piece tomato sliced</li>
      <li>3 pieces long green pepper</li>
      <li>1 piece onion</li>
      <li>2 quarts water</li>
      <li>Fish sauce and ground black pepper to taste</li>
    </ion-card-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Directions</ion-card-title>
        <ion-card-subtitle>Step 1</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Boil water in a cooking pot. Add onion, tomato, and radish. Cover and continue to boil for 8 minutes.
        Add shrimp. Cook for 1 minute.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 2</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Add Knorr Sinigang sa Sampaloc Recipe Mix. Stir until it dilutes completely. Cover and cook for 3 minutes.
        Add long green pepper, snake beans, okra, and eggplant. Stir. Cook for 5 minutes.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 3</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Put the kangkong stalks into the pot. Season with fish salt and ground black pepper.
        Add kangkong leaves. Cook for 1 minute.
        Transfer to a serving bowl. Serve warm with rice.
      </ion-card-content>

    </ion-card>
    </ion-card-header>

  </ion-card>
</div>
</ion-content>

