<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">GoodFood</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<br>
<ion-button class="back" (click)="tab2()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
 
<ion-card>
  <img alt="Breakfast" src="./assets/images/c1.png">
</ion-card>

  <div>
    <ion-row>
    <ion-col size="6">
  <ion-card (click)="r1()">
    <img alt="Avocado-Egg Toast" src="./assets/images/avocadotoast.png" />
    <ion-card-header>
      <ion-card-title>Avocado-Egg Toast</ion-card-title>
      <ion-card-subtitle>kcal: 271</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  </ion-col>

  <ion-col size="6">
  <ion-card (click)="r2()">
    <img alt="Breakfast Caserole" src="./assets/images/bfcaserole.png" />
    <ion-card-header>
      <ion-card-title>Breakfast Caserole</ion-card-title>
      <ion-card-subtitle>kcal: 256</ion-card-subtitle>
    </ion-card-header>
  
  </ion-card>
  </ion-col>

  <ion-col size="6">
  <ion-card (click)="r3()">
    <img alt="Chocolate Porridge" src="./assets/images/champorado.png" />
    <ion-card-header>
      <ion-card-title>Chocolate Porridge</ion-card-title>
      <ion-card-subtitle>kcal: 222</ion-card-subtitle>
    </ion-card-header>

  </ion-card>
  </ion-col>

  <ion-col size="6">
  <ion-card (click)="r4()">
    <img alt="Healthy Cookies" src="./assets/images/healthycookies.png" />
    <ion-card-header>
      <ion-card-title>Healthy Cookies</ion-card-title>
      <ion-card-subtitle>kcal: 86</ion-card-subtitle>
    </ion-card-header>

  </ion-card>
  </ion-col>

  <ion-col size="6">
    <ion-card (click)="r5()">
      <img alt="Healthy Pancake" src="./assets/images/pancake.png" />
      <ion-card-header>
        <ion-card-title>Healthy Pancake</ion-card-title>
        <ion-card-subtitle>kcal: 53</ion-card-subtitle>
      </ion-card-header>
    
    </ion-card>
    </ion-col>

  <ion-col size="6">
  <ion-card (click)="r6()">
    <img alt="Homemade Granola" src="./assets/images/hmgranola.png" />
    <ion-card-header>
      <ion-card-title>Homemade Granola</ion-card-title>
      <ion-card-subtitle>kcal: 259</ion-card-subtitle>
    </ion-card-header>
  
  </ion-card>
  </ion-col>

  <ion-col size="6">
  <ion-card (click)="r7()">
    <img alt="Homemade Crispy Hash Browns" src="./assets/images/hmhashbrown.png" />
    <ion-card-header>
      <ion-card-title>Homemade Crispy Hash Browns</ion-card-title>
      <ion-card-subtitle>kcal: 183</ion-card-subtitle>
    </ion-card-header>

  </ion-card>
  </ion-col>

  <ion-col size="6">
  <ion-card (click)="r8()">
    <img alt="Perfect Scrambled Eggs" src="./assets/images/scrambled.png" />
    <ion-card-header>
      <ion-card-title>Perfect Scrambled Eggs</ion-card-title>
      <ion-card-subtitle>kcal: 254</ion-card-subtitle>
    </ion-card-header>
  
  </ion-card>
  </ion-col>

  <ion-col size="6">
  <ion-card (click)="r9()">
    <img alt="Tofu Scramble" src="./assets/images/tofuscramble.png" />
    <ion-card-header>
      <ion-card-title>Tofu Scramble</ion-card-title>
      <ion-card-subtitle>kcal: 225</ion-card-subtitle>
    </ion-card-header>

  </ion-card>
  </ion-col>

  <ion-col size="6">
  <ion-card (click)="r10()">
    <img alt="Vegan Baked Oats" src="./assets/images/veganbakedoats.png" />
    <ion-card-header>
      <ion-card-title>Vegan Baked Oats</ion-card-title>
      <ion-card-subtitle>kcal: 228</ion-card-subtitle>
    </ion-card-header>
  
  </ion-card>
</ion-col>
</ion-row>
</div>
</ion-content>
