<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">B R E A K F A S T</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <br>
  <ion-button class="back" (click)="c1()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <div>
  <ion-card>
    <img alt="Breakfast Caserole" src="./assets/images/bfcaserole.png" />
    <ion-card-header>
      <ion-card-title>Breakfast Caserole</ion-card-title>
      <ion-card-content>
        Kick-start your day with our delicious breakfast casserole made with eggs, veggie sausages, peppers, red onion and cheese 
        – it's a great way to feed a crowd.
      </ion-card-content>
      <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col size="6" size-sm="3">kcal: 256</ion-col>
          <ion-col size="6" size-sm="3">fat: 16g</ion-col>
          <ion-col size="6" size-sm="3">saturates: 6g</ion-col>
          <ion-col size="6" size-sm="3">carbs: 8g</ion-col>
          <ion-col size="6" size-sm="3">sugars: 5g</ion-col>
          <ion-col size="6" size-sm="3">fiber: 3g</ion-col>
          <ion-col size="6" size-sm="3">protein: 18g</ion-col>
          <ion-col size="6" size-sm="3">salt: 0.9g</ion-col>
        </ion-row>
      </ion-grid>

    <ion-card-subtitle>Ingredients:</ion-card-subtitle>
    <ion-card-content>
      <li>250g chestnut mushrooms, sliced</li>
      <li>1½ tbsp vegetable oil, plus extra for the tin (optional)</li>
      <li>6 veggie sausages, sliced into bite-sized pieces</li>
      <li>1 large red onion, finely sliced</li>
      <li>2 red peppers, deseeded and sliced</li>
      <li>8 eggs</li>
      <li>250ml whole milk</li>
      <li>125g cheddar, grated</li>
      <li>10g chives, finely sliced</li>
    </ion-card-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Method</ion-card-title>
        <ion-card-subtitle>Step 1</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Heat the oven to 200C/180C fan/gas 6. Fry the mushrooms in a large non-stick frying pan over a medium-high heat until the 
        liquid has released and evaporated, about 8-10 mins. Add ½ tbsp oil and fry until golden, about 2 mins. 
        Remove from the pan and tip into a large bowl.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 2</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Wipe out the pan to remove any excess liquid, then return to a medium heat. 
        Add the remaining oil and fry the sausages until golden all over. 
        Remove using a slotted spoon and add to the bowl with the mushrooms. 
        Fry the onions and peppers, stirring occasionally for 8-10 mins until soft but not browned. 
        Tip into the bowl with the sausages and mushrooms, and mix everything together to combine. Season well. 
        Tip the sausage and veg mixture into a baking dish (around 35 x 25cm) or roasting tin. 
        If you’re using a tin, you may need to oil it to prevent the casserole from sticking.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 3</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Combine the eggs, milk, cheddar and chives in a large jug, season well, then pour this over the ingredients in the dish or tin. 
        Bake for 25-30 mins until golden and set. 
        Leave to cool slightly before cutting into squares.
      </ion-card-content>
      
    </ion-card>
    </ion-card-header>

  </ion-card>
</div>
</ion-content>