<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">B R E A K F A S T</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <br>
  <ion-button class="back" (click)="c1()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <div>
    <ion-card>
      <img alt="Chocolate Porridge" src="./assets/images/champorado.png" />
      <ion-card-header>
        <ion-card-title>Chocolate Porridge</ion-card-title>
        <ion-card-content>
          Sweeten this chocolate porridge with dates for a filling breakfast to set you up for the day. 
          Flavoured with magnesium-rich cacao, it's full of nutrients.
        </ion-card-content>
        <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
        <ion-grid>
          <ion-row class="ion-justify-content-start">
            <ion-col size="6" size-sm="3">kcal: 222</ion-col>
            <ion-col size="6" size-sm="3">fat: 7g</ion-col>
            <ion-col size="6" size-sm="3">saturates: 3g</ion-col>
            <ion-col size="6" size-sm="3">carbs: 29g</ion-col>
            <ion-col size="6" size-sm="3">sugars: 8g</ion-col>
            <ion-col size="6" size-sm="3">fiber: 3g</ion-col>
            <ion-col size="6" size-sm="3">protein: 8g</ion-col>
            <ion-col size="6" size-sm="3">salt: 0.1g</ion-col>
          </ion-row>
        </ion-grid>
  
      <ion-card-subtitle>Ingredients:</ion-card-subtitle>
      <ion-card-content>
        <li>125g porridge oats</li>
        <li>4 dates, stoned</li>
        <li>500-600ml milk, any will work</li>
        <li>1 tbsp cacao or good quality cocoa powder</li>
        <li>yogurt and maple syrup, to serve (optional)</li>
      </ion-card-content>
  
      <ion-card>
        <ion-card-header>
          <ion-card-title>Method</ion-card-title>
          <ion-card-subtitle>Step 1</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Blend half the oats and the dates in a food processor until you have a thick paste, 
          adding a splash of milk to help the blades go round if necessary. 
          Scrape the mixture into a saucepan and add the rest of the oats, 500ml milk, the cacao and a pinch of salt. 
          Stir well and set over a low-medium heat.
        </ion-card-content>
  
        <ion-card-header>
          <ion-card-subtitle>Step 2</ion-card-subtitle>
        </ion-card-header>
  
        <ion-card-content>
          Stir the porridge every now and then for the next 5-10 mins, until it’s thick and creamy 
          – add a splash more milk if you prefer a looser consistency. 
          Serve with a dollop of yogurt and a drizzle of maple syrup, if you like.
        </ion-card-content>
        
      </ion-card>
      </ion-card-header>
  
    </ion-card>
  </div>
  </ion-content>