<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">L U N C H</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <br>
  <ion-button class="back" (click)="c2()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <div>
  <ion-card>
    <img alt="Pork Menudo" src="./assets/images/porkmenudo.png" />
    <ion-card-header>
      <ion-card-title>Pork Menudo</ion-card-title>
      <ion-card-content>
        In almost every Philippine town fiestas or gatherings, Pork Menudo can be seen in the dining table. 
        This is one of the favorite “putahe” (dish) served and this was the reason why different variations of this dish existed.
      </ion-card-content>
      <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col size="6" size-sm="3">kcal: 524</ion-col>
          <ion-col size="6" size-sm="3">fat: 37g</ion-col>
          <ion-col size="6" size-sm="3">saturates: 12g</ion-col>
          <ion-col size="6" size-sm="3">carbs: 12g</ion-col>
          <ion-col size="6" size-sm="3">sugar: 3g</ion-col>
          <ion-col size="6" size-sm="3">fiber: 2g</ion-col>
          <ion-col size="6" size-sm="3">protein: 33g</ion-col>
          <ion-col size="6" size-sm="3">salt: 1.36g</ion-col>
        </ion-row>
      </ion-grid>

    <ion-card-subtitle>Ingredients:</ion-card-subtitle>
    <ion-card-content>
      <li>2 lbs. pork</li>
      <li>1/4 lb. pig liver</li>
      <li>1 cup potatoes diced</li>
      <li>1 piece carrot cubed</li>
      <li>1/2 cup soy sauce</li>
      <li>1/2 piece lemon</li>
      <li>1 piece onion chopped</li>
      <li>3 cloves garlic minced</li>
      <li>1 teaspoon sugar</li>
      <li>3/4 cup tomato sauce</li>
      <li>1 cup water</li>
      <li>4 pieces hotdogs sliced diagonally</li>
      <li>2 tablespoons cooking oil</li>
      <li>2 to 3 pieces dried bay leaves</li>
      <li>Salt and pepper to taste</li>
    </ion-card-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Instructions</ion-card-title>
        <ion-card-subtitle>Step 1</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Combine pork, soysauce, and lemon in a bowl. Marinate for at least 1 hour.
        Heat oil in a pan.
        Saute garlic and onion.
        Add the marinated pork. Cook for 5 to 7 minutes.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 2</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Pour in tomato sauce and water and then add the bay leaves.Let boil and simmer for 30 minutes to an hour depending on the toughness of the pork. Note: Add water as necessary.
        Add-in the liver and hot dogs.Cook for 5 minutes.
        Put-in potatoes, carrots, sugar,salt, and pepper. Stir and cook for 8 to 12 minutes.
        Serve. Share and enjoy!
      </ion-card-content>
      
    </ion-card>
    </ion-card-header>

  </ion-card>
</div>
</ion-content>
