<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">D I N N E R</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <br>
  <ion-button class="back" (click)="c3()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <div>
  <ion-card>
    <img alt="Braised Sesame Tofu" src="./assets/images/braisedsesametofu.png" />
    <ion-card-header>
      <ion-card-title>Braised Sesame Tofu</ion-card-title>
      <ion-card-content>
        Go meat-free with this moreish tofu-based dish served with rice and green beans. 
        The braise is loaded with heat and umami flavour for the tofu to soak up.
      </ion-card-content>
      <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col size="6" size-sm="3">kcal: 382</ion-col>
          <ion-col size="6" size-sm="3">fat: 22g</ion-col>
          <ion-col size="6" size-sm="3">saturates: 3g</ion-col>
          <ion-col size="6" size-sm="3">carbs: 12g</ion-col>
          <ion-col size="6" size-sm="3">sugars: 7g</ion-col>
          <ion-col size="6" size-sm="3">fiber: 8g</ion-col>
          <ion-col size="6" size-sm="3">protein: 30g</ion-col>
          <ion-col size="6" size-sm="3">salt: 0.6g</ion-col>
        </ion-row>
      </ion-grid>

    <ion-card-subtitle>Ingredients:</ion-card-subtitle>
    <ion-card-content>
      <li>400g extra-firm tofu</li>
      <li>½ tbsp reduced-salt soy sauce</li>
      <li>1 tbsp mirin</li>
      <li>½ tbsp gochujang</li>
      <li>3 garlic cloves, finely chopped</li>
      <li>2 tsp sesame seeds</li>
      <li>2 spring onions, finely sliced</li>
      <li>1 tbsp rapeseed oil</li>
      <li>200g green beans</li>
      <li>cooked brown rice, to serve</li>
    </ion-card-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Directions</ion-card-title>
        <ion-card-subtitle>Step 1</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Pat the tofu block dry and cut in half lengthways, then into 1cm- thick slices. Set aside on a plate lined with kitchen paper, 
        then put another sheet of paper and a plate on top to weigh it down while you prepare the braise. 
        Mix the soy sauce with the mirin, gochujang, garlic, sesame seeds, most of the spring onions and 200ml water.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 2</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Heat the oil in a pan over a medium-high heat and fry the tofu for 4-5 mins on each side until golden brown. 
        Pour in the soy sauce mixture and scatter over the green beans. 
        Bring to a simmer, and cook over a medium heat for 10 mins until the braising liquid has thickened and the green beans are tender.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 3</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Sprinkle over the remaining spring onions and serve with the brown rice.
      </ion-card-content>

    </ion-card>
    </ion-card-header>

  </ion-card>
</div>
</ion-content>
