<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">D I N N E R</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <br>
  <ion-button class="back" (click)="c3()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <div>
  <ion-card>
    <img alt="Sinigang Baboy" src="./assets/images/sinigangbaboy.png" />
    <ion-card-header>
      <ion-card-title>Sinigang na Baboy</ion-card-title>
      <ion-card-content>
        Sinigang is a sour soup native to the Philippines. This recipe uses pork as the main ingredient. 
      </ion-card-content>
      <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col size="6" size-sm="3">kcal: 892</ion-col>
          <ion-col size="6" size-sm="3">fat: 83g</ion-col>
          <ion-col size="6" size-sm="3">saturates: 29g</ion-col>
          <ion-col size="6" size-sm="3">carbs: 18g</ion-col>
          <ion-col size="6" size-sm="3">sugars: 8g</ion-col>
          <ion-col size="6" size-sm="3">fiber: 6g</ion-col>
          <ion-col size="6" size-sm="3">protein: 20g</ion-col>
          <ion-col size="6" size-sm="3">salt: 1.07g</ion-col>
        </ion-row>
      </ion-grid>

    <ion-card-subtitle>Ingredients:</ion-card-subtitle>
    <ion-card-content>
      <li>2 lbs pork belly or buto-buto</li>
      <li>1 bunch spinach or kangkong</li>
      <li>3 tablespoons fish sauce</li>
      <li>12 pieces string beans sitaw, cut in 2 inch length</li>
      <li>2 pieces tomato quartered</li>
      <li>3 pieces chili or banana pepper</li>
      <li>1 tablespoons cooking oil</li>
      <li>2 quarts water</li>
      <li>1 piece onion sliced</li>
      <li>2 pieces taro gabi, quartered</li>
      <li>1 pack sinigang mix good for 2 liters water</li>
    </ion-card-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Directions</ion-card-title>
        <ion-card-subtitle>Step 1</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Heat the pot and put-in the cooking oil
        Sauté the onion until its layers separate from each other
        Add the pork belly and cook until outer part turns light brown
        Put-in the fish sauce and mix with the ingredients
        Pour the water and bring to a boil
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 2</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Add the taro and tomatoes then simmer for 40 minutes or until pork is tender
        Put-in the sinigang mix and chili
        Add the string beans (and other vegetables if there are any) and simmer for 5 to 8 minutes
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 3</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Put-in the spinach, turn off the heat, and cover the pot. Let the spinach cook using the remaining heat in the pot.
        Serve hot. Share and enjoy!
      </ion-card-content>

    </ion-card>
    </ion-card-header>

  </ion-card>
</div>
</ion-content>
