<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">B R E A K F A S T</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <br>
  <ion-button class="back" (click)="c1()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <div>
  <ion-card>
    <img alt="Healthy Pancake" src="./assets/images/pancake.png" />
    <ion-card-header>
      <ion-card-title>Healthy Pancake</ion-card-title>
      <ion-card-content>
        These easy healthy pancakes get their fluffy texture from whipped egg whites. 
        Stack them high with fresh berries and a spoonful of low-fat yogurt.
      </ion-card-content>
      <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col size="6" size-sm="3">kcal: 53</ion-col>
          <ion-col size="6" size-sm="3">fat: 1g</ion-col>
          <ion-col size="6" size-sm="3">saturates: 0.3g</ion-col>
          <ion-col size="6" size-sm="3">carbs: 8g</ion-col>
          <ion-col size="6" size-sm="3">sugars: 0.8g</ion-col>
          <ion-col size="6" size-sm="3">fiber: 0.4g</ion-col>
          <ion-col size="6" size-sm="3">protein: 3g</ion-col>
          <ion-col size="6" size-sm="3">salt: 0.1g</ion-col>
        </ion-row>
      </ion-grid>

    <ion-card-subtitle>Ingredients:</ion-card-subtitle>
    <ion-card-content>
      <li>50g self-raising flour</li>
      <li>50g wholemeal or wholegrain flour</li>
      <li>2 small eggs, separated</li>
      <li>150ml skimmed milk</li>
      <li>berries and low-fat yogurt or fromage frais to serve</li>
    </ion-card-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Directions</ion-card-title>
        <ion-card-subtitle>Step 1</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Sift the flours into a bowl or wide jug and tip any bits in the sieve back into the bowl. 
        Add the egg yolks and a splash of milk then stir to a thick paste. 
        Add the remaining milk a little at a time so you don’t make lumps in the batter.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 2</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Whisk the egg whites until they stand up in stiff peaks, then fold them carefully into the batter 
        – try not to squash out all the air.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 3</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Heat a non-stick pan over a medium heat and pour in enough batter to make a pancake about 10 cm across.
        Cook for just under a minute until bubbles begin to pop on the surface and the edges are looking a little dry. 
        Carefully turn the pancake over. If it is a bit wet on top, it may squirt out a little batter as you do so. 
        In that case, leave it on the other side a little longer. Keep warm while you make the remaining pancakes. 
        Serve with your favourite healthy toppings.
      </ion-card-content>
      
    </ion-card>
    </ion-card-header>

  </ion-card>
</div>
</ion-content>