<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">L U N C H</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <br>
  <ion-button class="back" (click)="c2()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <div>
  <ion-card>
    <img alt="Pininyahang Manok" src="./assets/images/pininyahangmanok.png" />
    <ion-card-header>
      <ion-card-title>Pininyahang Manok</ion-card-title>
      <ion-card-content>
        Pininyahang Manok literally translates to pineapple chicken. This Recipe calls for chicken slices to be marinated in pineapple juice then stewed with pineapple chunks. 
        Aside from pineapples, secondary ingredients such as carrots, bell pepper, and milk make-up the dish.
      </ion-card-content>
      <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col size="6" size-sm="3">kcal: 439</ion-col>
          <ion-col size="6" size-sm="3">fat: 28g</ion-col>
          <ion-col size="6" size-sm="3">saturates: 7g</ion-col>
          <ion-col size="6" size-sm="3">carbs: 15g</ion-col>
          <ion-col size="6" size-sm="3">sugar: 12g</ion-col>
          <ion-col size="6" size-sm="3">fiber: 2g</ion-col>
          <ion-col size="6" size-sm="3">protein: 30g</ion-col>
          <ion-col size="6" size-sm="3">salt: 0.71g</ion-col>
        </ion-row>
      </ion-grid>

    <ion-card-subtitle>Ingredients:</ion-card-subtitle>
    <ion-card-content>
      <li>2 lbs chicken cut into serving pieces</li>
      <li>12 ounces pineapple chunks canned</li>
      <li>2 pieces tomato chopped</li>
      <li>1 cup bell pepper cut into thick strips</li>
      <li>1 piece tomato chopped</li>
      <li>1 piece carrot wedged</li>
      <li>2 1/2 tablespoon fish sauce patis</li>
      <li>1/2 cup fresh milk</li>
      <li>2 tablespoon garlic minced</li>
      <li>1 piece onion sliced</li>
      <li>2 tablespoon cooking oil</li>
    </ion-card-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Instructions</ion-card-title>
        <ion-card-subtitle>Step 1</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Marinate the chicken in pineapple juice/concentrate (derived from the can of pineapple chunks) for 20 to 30 minutes.
        Pour the cooking oil in a cooking pot / casserole then apply heat.
        Sauté the garlic, onion, and tomatoes.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 2</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Put-in the chicken and cook until color of the outer part turns light brown.
        Add the pineapple juice/concentrate marinade and fresh milk then bring to a boil.
        Add the pineapple chunks and simmer until the chicken is tender and half of the liquid evaporates (about 20 to 30 minutes).
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 3</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Put-in the carrots and simmer for 5 minutes.
        Add the bell pepper and fish sauce then simmer for 3 minutes.
        Remove from the cooking pot / casserole and transfer to a serving dish.
        Serve hot. Share and enjoy!
      </ion-card-content>
      
    </ion-card>
    </ion-card-header>

  </ion-card>
</div>
</ion-content>

