<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">L U N C H</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <br>
  <ion-button class="back" (click)="c2()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <div>
  <ion-card>
    <img alt="Ginisang Togue" src="./assets/images/togue.png" />
    <ion-card-header>
      <ion-card-title>Ginisang Togue</ion-card-title>
      <ion-card-content>
        Ginisang Togue is basically Sauteed Mung Bean Sprout with carrots, bell pepper, shrimp, and tofu. 
        This Mung Bean Sprout recipe is a regular dish served in Filipino households. It is best eaten with steamed white rice. 
        The good thing about the ingredients is the fact that these are healthy.
      </ion-card-content>
      <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col size="6" size-sm="3">kcal: 116</ion-col>
          <ion-col size="6" size-sm="3">fat: 3g</ion-col>
          <ion-col size="6" size-sm="3">saturates: 1g</ion-col>
          <ion-col size="6" size-sm="3">carbs: 14g</ion-col>
          <ion-col size="6" size-sm="3">sugar: 8g</ion-col>
          <ion-col size="6" size-sm="3">fiber: 4g</ion-col>
          <ion-col size="6" size-sm="3">protein: 10g</ion-col>
          <ion-col size="6" size-sm="3">salt: 0.9g</ion-col>
        </ion-row>
      </ion-grid>

    <ion-card-subtitle>Ingredients:</ion-card-subtitle>
    <ion-card-content>
      <li>12 ounces mung bean sprout</li>
      <li>8 ounces tofu extra firm</li>
      <li>1 piece carrot julienne</li>
      <li>12 pieces shrimp head and scales removed</li>
      <li>1 piece tomato cubed</li>
      <li>1 piece onion chopped</li>
      <li>4 cloves garlic minced</li>
      <li>1 piece red bell pepper cut into strips</li>
      <li>1 piece green bell pepper cut into strips</li>
      <li>2 tablespoons oyster sauce</li>
      <li>Ground black pepper to taste</li>
      <li>1 1/4 cups cooking oil</li>
    </ion-card-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Instructions</ion-card-title>
        <ion-card-subtitle>Step 1</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Fry the tofu until color turns golden brown then set aside. (slice the tofu into cubes)
        Sauté the garlic, onion, and tomato.
        Once the onion and tomato softens, add the shrimp. Saute for 1 minute.
        Add the tofu. Cook for 30 seconds.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 2</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Add the mung bean sprouts and carrot. Saute for 1 minute.
        Add the bell peppers. Cook for another minute.
        Season with oyster sauce and ground black pepper.
        Serve hot with rice. Share and enjoy!
      </ion-card-content>
      
    </ion-card>
    </ion-card-header>

  </ion-card>
</div>
</ion-content>
