<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">L U N C H</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <br> 
  <ion-button class="back" (click)="c2()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <div>
  <ion-card>
    <img alt="Chicken Afritada" src="./assets/images/chickenafritada.png" />
    <ion-card-header>
      <ion-card-title>Chicken Afritada</ion-card-title>
      <ion-card-content>
        Chicken Afritada or afritadang manok is a type of Filipino chicken stew with tomato based sauced. It is a simple dish that can be cooked on regular days. It is perfect for lunch and is better when eaten with warm white rice.
      </ion-card-content>
      <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col size="6" size-sm="3">kcal: 583</ion-col>
          <ion-col size="6" size-sm="3">fat: 37g</ion-col>
          <ion-col size="6" size-sm="3">saturates: 8g</ion-col>
          <ion-col size="6" size-sm="3">carbs: 25g</ion-col>
          <ion-col size="6" size-sm="3">sugar: 5g</ion-col>
          <ion-col size="6" size-sm="3">fiber: 5g</ion-col>
          <ion-col size="6" size-sm="3">protein: 37g</ion-col>
          <ion-col size="6" size-sm="3">salt: 1.09g</ion-col>
        </ion-row>
      </ion-grid>

    <ion-card-subtitle>Ingredients:</ion-card-subtitle>
    <ion-card-content>
      <li>1 ½ lbs. Chicken cut into serving pieces</li>
      <li>2 piece potato cubed</li>
      <li>1 piece carrot sliced</li>
      <li>8 oz. tomato sauce</li>
      <li>3 pieces hotdog sliced</li>
      <li>½ cup green peas</li>
      <li>3 pieces bay leaves</li>
      <li>1 piece red onion chopped</li>
      <li>2 teaspoons garlic minced</li>
      <li>3 cups chicken broth</li>
      <li>½ teaspoon sugar</li>
      <li>3 tablespoons cooking oil</li>
      <li>Salt and ground black pepper to taste</li>
    </ion-card-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Instructions</ion-card-title>
        <ion-card-subtitle>Step 1</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Heat the oil in a cooking pot. Saute onion and garlic until the onion softens.
        Add chicken. Cook for 30 seconds. Turn it over and cook the other side for another 30 seconds.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 2</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Pour tomato sauce and chicken broth. Cover. Let boil.
        Add dried bay leaves. Cover the cooking pot. Continue to cook in medium heat for 30 minutes.
        Add hotdogs and carrot. Cook for 3 minutes.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 3</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Add potato. Cover the pot and cook for 8 minutes.
        Add green peas. Cook for 2 minutes.
        Season with salt and ground black pepper and serve.
      </ion-card-content>
      
    </ion-card>
    </ion-card-header>

  </ion-card>
</div>
</ion-content>
