<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">D I N N E R</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <br>
  <ion-button class="back" (click)="c3()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    
  <div>
  <ion-card>
    <img alt="Tinola" src="./assets/images/tinola.png" />
    <ion-card-header>
      <ion-card-title>Tinola</ion-card-title>
      <ion-card-content>
        Chicken Tinola is a Filipino soup dish. It involves cooking chicken pieces in ginger broth. 
        This Filipino Chicken Soup is best enjoyed with fish sauce as dipping sauce, and a cup of warm white rice.
      </ion-card-content>
      <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col size="6" size-sm="3">kcal: 344</ion-col>
          <ion-col size="6" size-sm="3">fat: 21g</ion-col>
          <ion-col size="6" size-sm="3">saturates: 4g</ion-col>
          <ion-col size="6" size-sm="3">carbs: 14g</ion-col>
          <ion-col size="6" size-sm="3">sugar: 6g</ion-col>
          <ion-col size="6" size-sm="3">fiber: 2g</ion-col>
          <ion-col size="6" size-sm="3">protein: 27g</ion-col>
          <ion-col size="6" size-sm="3">salt: 0.66g</ion-col>
        </ion-row>
      </ion-grid>

    <ion-card-subtitle>Ingredients:</ion-card-subtitle>
    <ion-card-content>
      <li>3 tablespoons canola oil or avocado oil</li>
      <li>½ cup chopped yellow onion</li>
      <li>¼ cup thinly sliced fresh ginger</li>
      <li>6 cloves garlic, minced</li>
      <li>1 pound boneless, skinless chicken thighs, trimmed and cut into 1/2-inch pieces</li>
      <li>4 cups low-sodium chicken broth</li>
      <li>1 ½ cups peeled and cubed green papaya or chayote</li>
      <li>2 cups chopped malunggay leaves or bok choy leaves</li>
      <li>1 tablespoon fish sauce</li>
      <li>¼ teaspoon salt</li>
      <li>1/4 teaspoon ground black pepper</li>
    </ion-card-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Directions</ion-card-title>
        <ion-card-subtitle>Step 1</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Heat oil in a large pot over medium heat. Add onion, ginger and garlic; cook, stirring, until the onion starts to turn translucent, about 3 minutes. 
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 2</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Add chicken and broth; cook, stirring, until the chicken is just cooked through, about 5 minutes. Add papaya (or chayote), malunggay (or bok choy), fish sauce, salt and pepper; continue simmering until the vegetables are tender and the flavors have melded, about 5 minutes more.
      </ion-card-content>

    </ion-card>
    </ion-card-header>

  </ion-card>
</div>
</ion-content>
