<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">D E S S E R T</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <br>
  <ion-button class="back" (click)="c4()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <div>
  <ion-card>
    <img alt="Healthy Chocolate Brownies" src="./assets/images/d6.png" />
    <ion-card-header>
      <ion-card-title>Healthy Chocolate Brownies</ion-card-title>
      <ion-card-content>
        Enjoy these lighter brownies, which are low in fat, with no added sugar and gluten-free. 
        Great for those with special diets.
      </ion-card-content>
      <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col size="6" size-sm="3">kcal: 121</ion-col>
          <ion-col size="6" size-sm="3">fat: 2g</ion-col>
          <ion-col size="6" size-sm="3">saturates: 0.8g</ion-col>
          <ion-col size="6" size-sm="3">carbs: 18g</ion-col>
          <ion-col size="6" size-sm="3">sugars: 0.7g</ion-col>
          <ion-col size="6" size-sm="3">fiber: 3g</ion-col>
          <ion-col size="6" size-sm="3">protein: 6g</ion-col>
          <ion-col size="6" size-sm="3">salt: 0.2g</ion-col>
        </ion-row>
      </ion-grid>

    <ion-card-subtitle>Ingredients:</ion-card-subtitle>
    <ion-card-content>
      <li>2 x 400g cans black beans, drained, rinsed and drained again</li>
      <li>60g cocoa powder</li>
      <li>1 tbsp instant coffee granules</li>
      <li>200g xylitol</li>
      <li>1 tbsp vanilla extract or vanilla bean paste</li>
      <li>3 eggs</li>
      <li>200g fat-free Greek yogurt</li>
      <li>1½ tsp gluten-free baking powder</li>
    </ion-card-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Directions</ion-card-title>
        <ion-card-subtitle>Step 1</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Heat the oven to 190C/170C fan/gas 5 and line a shallow 23cm square baking tin with baking parchment. 
        Tip the beans, cocoa, coffee granules, xylitol, vanilla, eggs and yogurt into a large bowl. Blitz using a hand blender until smooth. 
        Or, do this in a food processor. 
        Add the baking powder, then blitz again.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 2</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Quickly tip the mixture into the tin and bake for 25-30 mins until set. Leave to cool in the tin for a few minutes, 
        then lift out onto a wire rack to cool completely. Remove the baking parchment, then cut into 16 squares. 
        Will keep chilled for up to three days.
      </ion-card-content>
      
    </ion-card>
    </ion-card-header>

  </ion-card>
</div>
</ion-content>

