<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">B R E A K F A S T</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <br>
  <ion-button class="back" (click)="c1()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <div>
  <ion-card>
    <img alt="Breakfast" src="./assets/images/tofuscramble.png" />
    <ion-card-header>
      <ion-card-title>Tofu Scramble</ion-card-title>
      <ion-card-content>
        Try our vegan spiced tofu with cherry tomatoes for an egg-free take on scramble on toast. 
        Perfect for breakfast, served on rye bread
      </ion-card-content>
      <ion-card-subtitle>Nutrition: per pancake</ion-card-subtitle>
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col size="6" size-sm="3">kcal: 225</ion-col>
          <ion-col size="6" size-sm="3">fat: 14g</ion-col>
          <ion-col size="6" size-sm="3">saturates: 1.3g</ion-col>
          <ion-col size="6" size-sm="3">carbs: 7g</ion-col>
          <ion-col size="6" size-sm="3">sugars: 4g</ion-col>
          <ion-col size="6" size-sm="3">fiber: 3g</ion-col>
          <ion-col size="6" size-sm="3">protein: 15g</ion-col>
          <ion-col size="6" size-sm="3">salt: 0.1g</ion-col>
        </ion-row>
      </ion-grid>

    <ion-card-subtitle>Ingredients:</ion-card-subtitle>
    <ion-card-content>
      <li>1 tbsp olive oil</li>
      <li>1 small onion, finely sliced</li>
      <li>1 large garlic clove, crushed</li>
      <li>½ tsp turmeric</li>
      <li>1 tsp ground cumin</li>
      <li>½ tsp sweet smoked paprika</li>
      <li>280g extra firm tofu</li>
      <li>100g cherry tomatoes, halved</li>
      <li>½ small bunch parsley, chopped</li>
      <li>rye bread, to serve, (optional)</li>
    </ion-card-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Method</ion-card-title>
        <ion-card-subtitle>Step 1</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Heat the oil in a frying pan over a medium heat and gently fry the onion for 8 -10 mins or until golden brown and sticky. 
        Stir in the garlic, turmeric, cumin and paprika and cook for 1 min.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 2</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Roughly mash the tofu in a bowl using a fork, keeping some pieces chunky. Add to the pan and fry for 3 mins. 
        Raise the heat, then tip in the tomatoes, cooking for 5 mins more or until they begin to soften. 
        Fold the parsley through the mixture. Serve on its own or with toasted rye bread (not gluten-free), if you like.
      </ion-card-content>
      
    </ion-card>
    </ion-card-header>

  </ion-card>
</div>
</ion-content>