<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">D I N N E R</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <br>
  <ion-button class="back" (click)="c3()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    
  <div>
  <ion-card>
    <img alt="Chop Suey" src="./assets/images/chopsuey.png" />
    <ion-card-header>
      <ion-card-title>Chop Suey</ion-card-title>
      <ion-card-content>
        Chop Suey is a stir-fried vegetable dish that is cooked with meats such as chicken and pork. Shrimp and seafood can also be added. This chop suey recipe is special because it has almost every ingredient present. 
        Chicken, pork, shrimp, and boiled quail eggs were all included in the recipe, along with fresh veggies.
      </ion-card-content>
      <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col size="6" size-sm="3">kcal: 214</ion-col>
          <ion-col size="6" size-sm="3">fat: 13g</ion-col>
          <ion-col size="6" size-sm="3">saturates: 1g</ion-col>
          <ion-col size="6" size-sm="3">carbs: 20g</ion-col>
          <ion-col size="6" size-sm="3">sugars: 9g</ion-col>
          <ion-col size="6" size-sm="3">fiber: 2g</ion-col>
          <ion-col size="6" size-sm="3">protein: 4g</ion-col>
          <ion-col size="6" size-sm="3">salt: 1.06g</ion-col>
        </ion-row>
      </ion-grid>

    <ion-card-subtitle>Ingredients:</ion-card-subtitle>
    <ion-card-content>
      <li>7 pieces shrimp cleaned and deveined</li>
      <li>3 ounces pork sliced</li>
      <li>3 ounces boneless chicken breast sliced</li>
      <li>1 ½ cup cauliflower florets</li>
      <li>1 piece carrot sliced crosswise into thin pieces</li>
      <li>15 pieces snow peas</li>
      <li>8 pieces baby corn</li>
      <li>1 piece red bell pepper sliced into squares</li>
      <li>1 piece green bell pepper sliced into squares</li>
      <li>1 ½ cups cabbage chopped</li>
      <li>12 pieces quail eggs boiled</li>
      <li>1 piece yellow onion sliced</li>
      <li>4 cloves garlic crushed</li>
      <li>¼ cup soy sauce</li>
      <li>1 ½ tablespoons oyster sauce</li>
      <li>¾ cup water</li>
      <li>1 tablespoon cornstarch diluted in ½ cup water</li>
      <li>¼ teaspoon ground black pepper</li>
      <li>3 tablespoons cooking oil</li>
    </ion-card-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Directions</ion-card-title>
        <ion-card-subtitle>Step 1</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Heat oil in a wok or pan.
        Pan fry the shrimp for 1 minute per side. Remove from the wok. Set aside.
        Saute onion. Add garlic and continue to saute until the onion becomes soft.
        Add pork and chicken. Stir fry until light brown.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 2</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Add soy sauce and oyster sauce. Stir.
        Pour water. Let boil. Cover and cook in medium heat for 15 minutes.
        Add cauliflower, carrots, bell peppers, snow peas, and young corn. Stir.
        Add cabbage. Toss. Cover and cook for 5 to 7 minutes.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 3</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Put the pan-fried shrimp into the pot and add ground black pepper.
        Add the boiled quail eggs and cornstarch diluted in water. Toss.
        Transfer to a serving plate. Serve.
        Share and enjoy!
      </ion-card-content>

    </ion-card>
    </ion-card-header>

  </ion-card>
</div>
</ion-content>
