<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">D E S S E R T</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <ion-button class="back" (click)="c4()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <div>
    <ion-card>
      <img alt="Healthy Banana Bread" src="./assets/images/d4.png" />
      <ion-card-header>
        <ion-card-title>Healthy Banana Bread</ion-card-title>
        <ion-card-content>
          Have your cake and eat it with this delightful low-fat, healthy banana loaf 
          - perfect for breakfast and beyond
        </ion-card-content>
        <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
        <ion-grid>
          <ion-row class="ion-justify-content-start">
            <ion-col size="6" size-sm="3">kcal: 145</ion-col>
            <ion-col size="6" size-sm="3">fat: 2g</ion-col>
            <ion-col size="6" size-sm="3">saturates: 1g</ion-col>
            <ion-col size="6" size-sm="3">carbs: 24g</ion-col>
            <ion-col size="6" size-sm="3">sugar: 9g</ion-col>
            <ion-col size="6" size-sm="3">fiber: 3g</ion-col>
            <ion-col size="6" size-sm="3">protein: 6g</ion-col>
            <ion-col size="6" size-sm="3">salt: 0.6g</ion-col>
          </ion-row>
        </ion-grid>
  
      <ion-card-subtitle>Ingredients:</ion-card-subtitle>
      <ion-card-content>
        <li>low-fat spread, for the tin, plus extra to serve</li>
        <li>140g wholemeal flour</li>
        <li>100g self-raising flour</li>
        <li>1 tsp bicarbonate of soda</li>
        <li>1 tsp baking powder</li>
        <li>300g mashed banana from overripe black bananas/li>
        <li>4 tbsp agave syrup</li>
        <li>3 large eggs, beaten with a fork</li>
        <li>150ml pot low-fat natural yogurt</li>
        <li>25g chopped pecan or walnuts (optional)</li>
      </ion-card-content>
  
      <ion-card>
        <ion-card-header>
          <ion-card-title>Directions</ion-card-title>
          <ion-card-subtitle>Step 1</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Heat oven to 160C/140C fan/gas 3. Grease and line a 2lb loaf tin with baking parchment (allow it to come 2cm above top of tin). 
          Mix the flours, bicarb, baking powder and a pinch of salt in a large bowl.
        </ion-card-content>
  
        <ion-card-header>
          <ion-card-subtitle>Step 2</ion-card-subtitle>
        </ion-card-header>
  
        <ion-card-content>
          Mix the bananas, syrup, eggs and yogurt. 
          Quickly stir into dry ingredients, then gently scrape into the tin and scatter with nuts, if using. 
          Bake for 1 hr 10 mins-1 hr 15 mins or until a skewer comes out clean.
        </ion-card-content>
  
        <ion-card-header>
          <ion-card-subtitle>Step 3</ion-card-subtitle>
        </ion-card-header>
  
        <ion-card-content>
          Cool in tin on a wire rack. 
          Eat warm or at room temperature, with low-fat spread.
        </ion-card-content>
      </ion-card>
      </ion-card-header>
  
    </ion-card>
  </div>
  </ion-content>
