<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">D I N N E R</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <br>
  <ion-button class="back" (click)="c3()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <div>
  <ion-card>
    <img alt="Bangus Sisig" src="./assets/images/bangussisig.png" />
    <ion-card-header>
      <ion-card-title>Bangus Sisig</ion-card-title>
      <ion-card-content>
        Sisig has been one of the best creations in Filipino cuisine. 
        It is delicious in many ways. There is also more than one way to make this dish. 
        Bangus sisig is a good version that can be considered as an alternative to pork. 
        It is healthier, yummy, and easy to prepare.
      </ion-card-content>
      <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col size="6" size-sm="3">kcal: 416</ion-col>
          <ion-col size="6" size-sm="3">fat: 22g</ion-col>
          <ion-col size="6" size-sm="3">saturates: 10g</ion-col>
          <ion-col size="6" size-sm="3">carbs: 5g</ion-col>
          <ion-col size="6" size-sm="3">sugars: 2g</ion-col>
          <ion-col size="6" size-sm="3">fiber: 1g</ion-col>
          <ion-col size="6" size-sm="3">protein: 46g</ion-col>
          <ion-col size="6" size-sm="3">salt: 0.7g</ion-col>
        </ion-row>
      </ion-grid>

    <ion-card-subtitle>Ingredients:</ion-card-subtitle>
    <ion-card-content>
      <li>1 piece bangus fried or baked, and then flaked</li>
      <li>1 piece onion chopped</li>
      <li>1/2 cup scallions chopped</li>
      <li>1 tablespoon chili pepper labuyo or Thai chili</li>
      <li>1/2 teaspoon ground black pepper</li>
      <li>1 tablespoon soy sauce</li>
      <li>2 teaspoons ginger minced</li>
      <li>1 cup crushed chicharon pork rind</li>
      <li>1/2 tablespoon mayonnaise</li>
      <li>1/4 cup unsalted butter</li>
      <li>1 teaspoon garlic powder</li>
      <li>1/2 teaspoon salt</li>
    </ion-card-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Directions</ion-card-title>
        <ion-card-subtitle>Step 1</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Melt-in butter in a large pan
        Add the onion and cook for 3 minutes
        Put-in the ginger. Stir and cook for 2 minutes in low to medium heat.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 2</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Add the bangus and then stir.
        Put-in the garlic powder, salt,ground black pepper, and soy sauce. Stir and cook for 5 minutes.
        Add the chicharon, scallions, and chili. Stir and cook for 3 minutes more.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 3</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Put-in the mayonnaise. Stir.
        Transfer to a serving plate. Serve.
        Share and enjoy!
      </ion-card-content>

    </ion-card>
    </ion-card-header>

  </ion-card>
</div>
</ion-content>
