<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">GoodFood</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <br>
  <ion-button class="back" (click)="tab2()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <ion-card>
    <img alt="Breakfast" src="./assets/images/c3.png">
  </ion-card>

  <div>
    <ion-row>
    <ion-col size="6">
  <ion-card (click)="r21()">
    <img alt="Adobong Kangkong" src="./assets/images/kangkong.png" />
    <ion-card-header>
      <ion-card-title>Adobong Kangkong</ion-card-title>
      <ion-card-subtitle>kcal: 169</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  </ion-col>

  <ion-col size="6">
  <ion-card (click)="r22()">
    <img alt="Braised Sesame Tofu" src="./assets/images/braisedsesametofu.png" />
    <ion-card-header>
      <ion-card-title>Braised Sesame Tofu</ion-card-title>
      <ion-card-subtitle>kcal: 382</ion-card-subtitle>
    </ion-card-header>
  
  </ion-card>
  </ion-col>

  <ion-col size="6">
  <ion-card (click)="r23()">
    <img alt="Cauliflower Soup" src="./assets/images/cauliflowersoup.png" />
    <ion-card-header>
      <ion-card-title>Cauliflower Soup</ion-card-title>
      <ion-card-subtitle>kcal: 176</ion-card-subtitle>
    </ion-card-header>

  </ion-card>
  </ion-col>

  <ion-col size="6">
  <ion-card (click)="r24()">
    <img alt="Chicken Pochero" src="./assets/images/chickenpochero.png" />
    <ion-card-header>
      <ion-card-title>Chicken Pochero</ion-card-title>
      <ion-card-subtitle>kcal: 700</ion-card-subtitle>
    </ion-card-header>

  </ion-card>
  </ion-col>

  <ion-col size="6">
    <ion-card (click)="r25()">
      <img alt="Sinigang Baboy" src="./assets/images/sinigangbaboy.png" />
      <ion-card-header>
        <ion-card-title>Sinigang Baboy</ion-card-title>
        <ion-card-subtitle>kcal: 892</ion-card-subtitle>
      </ion-card-header>
    
    </ion-card>
    </ion-col>

  <ion-col size="6">
  <ion-card (click)="r26()">
    <img alt="Sinigang Hipon" src="./assets/images/siniganghipon.png" />
    <ion-card-header>
      <ion-card-title>Sinigang Hipon</ion-card-title>
      <ion-card-subtitle>kcal: 283</ion-card-subtitle>
    </ion-card-header>
  
  </ion-card>
  </ion-col>

  <ion-col size="6">
  <ion-card (click)="r27()">
    <img alt="Bangus Sisig" src="./assets/images/bangussisig.png" />
    <ion-card-header>
      <ion-card-title>Bangus Sisig</ion-card-title>
      <ion-card-subtitle>kcal: 416</ion-card-subtitle>
    </ion-card-header>

  </ion-card>
  </ion-col>

  <ion-col size="6">
  <ion-card (click)="r28()">
    <img alt="Escabeche" src="./assets/images/escabeche.png" />
    <ion-card-header>
      <ion-card-title>Escabeche</ion-card-title>
      <ion-card-subtitle>kcal: 416</ion-card-subtitle>
    </ion-card-header>
  
  </ion-card>
  </ion-col>

  <ion-col size="6">
  <ion-card (click)="r29()">
    <img alt="Chop Suey" src="./assets/images/chopsuey.png" />
    <ion-card-header>
      <ion-card-title>Chop Suey</ion-card-title>
      <ion-card-subtitle>kcal: 214</ion-card-subtitle>
    </ion-card-header>

  </ion-card>
  </ion-col>

  <ion-col size="6">
  <ion-card (click)="r30()">
    <img alt="Tinola" src="./assets/images/tinola.png" />
    <ion-card-header>
      <ion-card-title>Tinola</ion-card-title>
      <ion-card-subtitle>kcal: 334</ion-card-subtitle>
    </ion-card-header>
  
  </ion-card>
</ion-col>
</ion-row>
</div>
</ion-content>