<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">B R E A K F A S T</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <br>
  <ion-button class="back" (click)="c1()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <div>
  <ion-card>
    <img alt="Breakfast" src="./assets/images/scrambled.png" />
    <ion-card-header>
      <ion-card-title>Perfect Scrambled Eggs</ion-card-title>
      <ion-card-content>
        Learn how to make perfect scrambled eggs with this easy recipe.
        A quick breakfast packed with protein, courtesy of Bill Granger.
      </ion-card-content>
      <ion-card-subtitle>Nutrition: per serving(with milk)</ion-card-subtitle>
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col size="6" size-sm="3">kcal: 254</ion-col>
          <ion-col size="6" size-sm="3">fat: 19g</ion-col>
          <ion-col size="6" size-sm="3">saturates: 7g</ion-col>
          <ion-col size="6" size-sm="3">carbs: 4g</ion-col>
          <ion-col size="6" size-sm="3">sugars: 0g</ion-col>
          <ion-col size="6" size-sm="3">fiber: 0g</ion-col>
          <ion-col size="6" size-sm="3">protein: 18g</ion-col>
          <ion-col size="6" size-sm="3">salt: 0.6g</ion-col>
        </ion-row>
      </ion-grid>

    <ion-card-subtitle>Ingredients:</ion-card-subtitle>
    <ion-card-content>
      <li>2 large free range eggs</li>
      <li>6 tbsp single cream or full cream milk</li>
      <li>a knob of butter</li>
    </ion-card-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Method</ion-card-title>
        <ion-card-subtitle>Step 1</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Lightly whisk 2 large eggs, 6 tbsp single cream or full cream milk and a pinch of salt together until the mixture has just one consistency.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 2</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Heat a small non-stick frying pan for a minute or so, then add a knob of butter and let it melt. 
        Don’t allow the butter to brown or it will discolour the eggs.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 3</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Pour in the egg mixture and let it sit, without stirring, for 20 seconds. 
        Stir with a wooden spoon, lifting and folding it over from the bottom of the pan.
        Let it sit for another 10 seconds then stir and fold again.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 4</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Repeat until the eggs are softly set and slightly runny in places. 
        Remove from the heat and leave for a moment to finish cooking.
        Give a final stir and serve the velvety scramble without delay.
      </ion-card-content>
      
    </ion-card>
    </ion-card-header>

  </ion-card>
</div>
</ion-content>
