<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">D E S S E R T</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <ion-button class="back" (click)="c4()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <div>
  <ion-card>
    <img alt="Healthy Banana Muffins" src="./assets/images/d5.png" />
    <ion-card-header>
      <ion-card-title>Healthy Banana Muffins</ion-card-title>
      <ion-card-content>
        With apple, blueberry, banana and seeds, this breakfast-on-the-go tastes great, 
        is low in calories and uses honey instead of sugar.
      </ion-card-content>
      <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col size="6" size-sm="3">kcal: 179</ion-col>
          <ion-col size="6" size-sm="3">fat: 7.1g</ion-col>
          <ion-col size="6" size-sm="3">saturates: 0.9g</ion-col>
          <ion-col size="6" size-sm="3">carbs: 22.7g</ion-col>
          <ion-col size="6" size-sm="3">sugars: 10.2g</ion-col>
          <ion-col size="6" size-sm="3">fiber: 3.3g</ion-col>
          <ion-col size="6" size-sm="3">protein: 5.2g</ion-col>
          <ion-col size="6" size-sm="3">salt: 0.6g</ion-col>
        </ion-row>
      </ion-grid>

    <ion-card-subtitle>Ingredients:</ion-card-subtitle>
    <ion-card-content>
      <li>2 large eggs</li>
      <li>150ml pot natural low-fat yogurt</li>
      <li>50ml rapeseed oil</li>
      <li>100g apple sauce or puréed apple</li>
      <li>1 ripe banana, mashed</li>
      <li>4 tbsp honey</li>
      <li>1 tsp vanilla extract</li>
      <li>200g wholemeal flour</li>
      <li>50g rolled oats, plus extra for sprinkling</li>
      <li>1 ½ tsp baking powder</li>
      <li>1 ½ tsp bicarbonate of soda</li>
      <li>1 ½ tsp cinnamon</li>
      <li>100g blueberry</li>
      <li>2 tbsp mixed seed, we used pumpkin, sunflower and flaxseed</li>
    </ion-card-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Directions</ion-card-title>
        <ion-card-subtitle>Step 1</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Heat oven to 180C/160C fan/gas 4. Line a 12-hole muffin tray with 12 large muffin cases. 
        In a jug, mix the eggs, yogurt, oil, apple sauce, banana, honey and vanilla. 
        Tip the remaining ingredients, except the seeds, into a large bowl, add a pinch of salt and mix to combine.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 2</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Pour the wet ingredients into the dry, mix briefly until you have a smooth batter, don’t over mix as this will make the muffins heavy. 
        Spoon the batter between the cases. Sprinkle the muffins with the extra oats and the seeds. Bake for 25-30 mins until golden and well risen, 
        and a skewer inserted to the centre of a muffin comes out clean. Remove from the oven, transfer to a wire rack and leave to cool. 
        Store in a sealed container for up to 3 days.
      </ion-card-content>
      
    </ion-card>
    </ion-card-header>

  </ion-card>
</div>
</ion-content>
