<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">D E S S E R T</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <br>
  <ion-button class="back" (click)="c4()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <div>
  <ion-card>
    <img alt="Raspberry Sorbet" src="./assets/images/d10.png" />
    <ion-card-header>
      <ion-card-title>Raspberry Sorbet</ion-card-title>
      <ion-card-content>
        Make your own raspberry sorbet with just three ingredients. 
        Perfect for hot summer days, or pairing with chocolate puds – and it's vegan too
      </ion-card-content>
      <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col size="6" size-sm="3">kcal: 96</ion-col>
          <ion-col size="6" size-sm="3">fat: 0.1g</ion-col>
          <ion-col size="6" size-sm="3">saturates: 0.1g</ion-col>
          <ion-col size="6" size-sm="3">carbs: 22g</ion-col>
          <ion-col size="6" size-sm="3">sugars: 22g</ion-col>
          <ion-col size="6" size-sm="3">fiber: 2g</ion-col>
          <ion-col size="6" size-sm="3">protein: 1g</ion-col>
          <ion-col size="6" size-sm="3">salt: 0.01g</ion-col>
        </ion-row>
      </ion-grid>

    <ion-card-subtitle>Ingredients:</ion-card-subtitle>
    <ion-card-content>
      <li>200g granulated sugar</li>
      <li>500g raspberries, plus more to serve (optional)</li>
      <li>1 lemon, juiced</li>
    </ion-card-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Directions</ion-card-title>
        <ion-card-subtitle>Step 1</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Put the sugar and 270ml water in a saucepan over a low heat and stir until the sugar has dissolved. 
        Raise the heat and simmer for 5 mins, or until the liquid has become a syrup. Set aside to cool.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 2</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Put the raspberries and lemon juice in a food processor and blitz until smooth. 
        Strain through a fine sieve into a bowl and discard the seeds. Combine with the sugar syrup, then pour 
        into freezer-proof container.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 3</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Freeze for 1 hr 30 mins, then whisk with a balloon whisk or a fork to break up any ice crystals 
        that have formed and return to the freezer.
      </ion-card-content>
      
      <ion-card-header>
        <ion-card-subtitle>Step 4</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Keep mixing the sorbet once an hour for 4 hrs to break up the ice crystals. 
        Stop mixing when firm but scoopable. Will keep in the freezer for up to a month. Serve with extra raspberries, if you like.
      </ion-card-content>

    </ion-card>
    </ion-card-header>

  </ion-card>
</div>
</ion-content>