<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">B R E A K F A S T</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <br>
  <ion-button class="back" (click)="c1()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <div>
    <ion-card>
      <img alt="Healthy Cookies" src="./assets/images/healthycookies.png" />
      <ion-card-header>
        <ion-card-title>Healthy Cookies</ion-card-title>
        <ion-card-content>
          Grab a few of these energy-boosting healthy cookies for a quick breakfast, 
          or offer as snacks to bridge the hunger gap before dinner. Enjoy with yogurt and fruit.
        </ion-card-content>
        <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
        <ion-grid>
          <ion-row class="ion-justify-content-start">
            <ion-col size="6" size-sm="3">kcal: 86</ion-col>
            <ion-col size="6" size-sm="3">fat: 3g</ion-col>
            <ion-col size="6" size-sm="3">saturates: 0.3g</ion-col>
            <ion-col size="6" size-sm="3">carbs: 13g</ion-col>
            <ion-col size="6" size-sm="3">sugar: 4g</ion-col>
            <ion-col size="6" size-sm="3">fiber: 2g</ion-col>
            <ion-col size="6" size-sm="3">protein: 2g</ion-col>
            <ion-col size="6" size-sm="3">salt: 0.04g</ion-col>
          </ion-row>
        </ion-grid>
  
      <ion-card-subtitle>Ingredients:</ion-card-subtitle>
      <ion-card-content>
        <li>2 ripe bananas, mashed</li>
        <li>150g porridge oats</li>
        <li>2 tbsp ground almonds</li>
        <li>1⁄2 tsp cinnamon</li>
        <li>100g raspberries (fresh or frozen)</li>
      </ion-card-content>
  
      <ion-card>
        <ion-card-header>
          <ion-card-title>Directions</ion-card-title>
          <ion-card-subtitle>Step 1</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Heat the oven to 200C/180C fan/gas 4 and line two baking trays with baking parchment. Mix the banana, oats, almonds, cinnamon and a pinch of salt in a bowl to make a sticky dough. 
          Gently stir through the raspberries, trying not to break them up. 
          Scoop up tablespoons of the mixture and roll into balls, then place on a baking tray and flatten with your hand.
        </ion-card-content>
  
        <ion-card-header>
          <ion-card-subtitle>Step 2</ion-card-subtitle>
        </ion-card-header>
  
        <ion-card-content>
          Bake for 15 mins until the cookies feel firm around the edges and are golden brown. Leave to cool. 
          Will keep in an airtight container for up to three days.
        </ion-card-content>
      </ion-card>
      </ion-card-header>
  
    </ion-card>
  </div>
  </ion-content>