<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">D E S S E R T</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <br>
  <ion-button class="back" (click)="c4()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <div>
  <ion-card>
    <img alt="Strawberry Frozen Yogurt" src="./assets/images/d8.png" />
    <ion-card-header>
      <ion-card-title>Strawberry Frozen Yogurt</ion-card-title>
      <ion-card-content>
        A simple and sweet all-in-one cake - ideal for Mothering Sunday.
      </ion-card-content>
      <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col size="6" size-sm="3">kcal: 173</ion-col>
          <ion-col size="6" size-sm="3">fat: 0g</ion-col>
          <ion-col size="6" size-sm="3">saturates: 0g</ion-col>
          <ion-col size="6" size-sm="3">carbs: 31g</ion-col>
          <ion-col size="6" size-sm="3">sugars: 30g</ion-col>
          <ion-col size="6" size-sm="3">fiber: 1g</ion-col>
          <ion-col size="6" size-sm="3">protein: 14g</ion-col>
          <ion-col size="6" size-sm="3">salt: 0.34g</ion-col>
        </ion-row>
      </ion-grid>

    <ion-card-subtitle>Ingredients:</ion-card-subtitle>
    <ion-card-content>
      <li>140g strawberries</li>
      <li>½ x 405g can light condensed milk</li>
      <li>500g tub 0%-fat Greek yogurt</li>
    </ion-card-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Directions</ion-card-title>
        <ion-card-subtitle>Step 1</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Roughly chop half the strawberries and whizz the rest in a food processor 
        or with a stick blender to a purée.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 2</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        In a big bowl, stir the condensed milk into the puréed strawberries then gently stir in the yogurt until well mixed. 
        Fold through the chopped strawberries.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 3</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Scrape the mixture into a loaf tin or container, pop on the lid or wrap well in cling film and freeze overnight, 
        until solid. Remove from the freezer about 10-15 mins before you want to serve the frozen yogurt. 
        Can be frozen for up to 1 month.
      </ion-card-content>
      
    </ion-card>
    </ion-card-header>

  </ion-card>
</div>
</ion-content>

