<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">D E S S E R T</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <ion-button class="back" (click)="c4()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <div>
    <ion-card>
      <img alt="Ginataang Bilo Bilo with Langka" src="./assets/images/d3.png" />
      <ion-card-header>
        <ion-card-title>Ginataang Bilo Bilo with Langka</ion-card-title>
        <ion-card-content>
          Ginataang Bilo-bilo with Langka is composed of glutinous rice balls 
          (locally known as bilo-bilo), coconut cream, sugar, sago pearls, and ripe jackfruit. 
          Some people consider this as a simplified version of the ginataang halo-halo.
        </ion-card-content>
        <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
        <ion-grid>
          <ion-row class="ion-justify-content-start">
            <ion-col size="6" size-sm="3">kcal: 599</ion-col>
            <ion-col size="6" size-sm="3">fat: 28g</ion-col>
            <ion-col size="6" size-sm="3">saturates: 25g</ion-col>
            <ion-col size="6" size-sm="3">carbs: 89g</ion-col>
            <ion-col size="6" size-sm="3">sugar: 44g</ion-col>
            <ion-col size="6" size-sm="3">fiber: 4g</ion-col>
            <ion-col size="6" size-sm="3">protein: 5g</ion-col>
            <ion-col size="6" size-sm="3">salt: 10mg</ion-col>
          </ion-row>
        </ion-grid>
  
      <ion-card-subtitle>Ingredients:</ion-card-subtitle>
      <ion-card-content>
        <li>20 pieces glutinous rice balls (Bilo-bilo)</li>
        <li>20 oz jackfruit ripe, sliced</li>
        <li>2 cups water</li>
        <li>2 cups coconut cream</li>
        <li>3/4 cup granulated white sugar</li>
        <li>1 1/2 cups tapioca pearls cooked</li>
      </ion-card-content>
  
      <ion-card>
        <ion-card-header>
          <ion-card-title>Directions</ion-card-title>
          <ion-card-subtitle>Step 1</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Pour the water in a cooking pot. Bring to a boil.
          Add the coconut cream. Stir and cook until the mixture starts to boil again.
          Gradually stir-in the sugar.
        </ion-card-content>
  
        <ion-card-header>
          <ion-card-subtitle>Step 2</ion-card-subtitle>
        </ion-card-header>
  
        <ion-card-content>
          Add the ripe jackfruit. Cover and cook in low heat for 15 minutes.
          Add-in the bilo-bilo. Continue to cook for another 15 minutes while stirring every 3 minutes.
        </ion-card-content>
  
        <ion-card-header>
          <ion-card-subtitle>Step 3</ion-card-subtitle>
        </ion-card-header>
  
        <ion-card-content>
          Put-in the sago. Cook for 3 to 5 minutes.
          Transfer to a serving bowl. Serve.
          Share and enjoy!
        </ion-card-content>  
      </ion-card>
      </ion-card-header>
  
    </ion-card>
  </div>
  </ion-content>
