<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">GoodFood</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<br>
<ion-button class="back" (click)="tab2()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  <p class="txt">The Articles</p>
  <ion-card>
    <img alt="Banner" src="./assets/images/nf.png">
  </ion-card>

<div>
  <ion-card class="info" color="warning">
    <ion-card-header>
      <ion-card-title class="up">CALORIES</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      &nbsp;&nbsp;&nbsp;Calories are energy units provided by food or drink. Calorie counts are frequently given on food items, and wearables like the best fitness trackers allow you to track how many calories you're burning by completing various activities. 
      Certain foods, such as fatty, fried, or processed foods, have a higher calorie content. Other items, such fresh fruit and vegetables, contain fewer calories. Some healthful fruits and vegetables, on the other hand, might be high in calories, but low-calorie foods, such as diet Coke, 
      have little nutritional value. We require calories in order to move around, remain warm, grow, work, think, and play. Even our blood circulation and digestion require energy from calories to function properly.
    </ion-card-content>

    <ion-card-header>
      <ion-card-title class="up">FAT</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      &nbsp;&nbsp;&nbsp;These fats are found in many of the foods we eat. Animal products, such as meat, milk, and eggs, all include fat. Some plant-based foods, such as almonds, avocados, and olive oil, do as well. The singular term fat can be used to refer to the same item collectively. 
      Fat is stored and used for energy by the body. In the area of nutrition, the plural term fats is most commonly employed. Saturated fats, unsaturated fats, and trans fats are all various types of fats that can have different effects on a person's nutrition and health.
      It is generally advised not to ingest excessive amounts of fat. However, some fats are required in a diet since they aid in vitamin absorption. 
      The nutrition label on food goods usually states how much fat and what types of fat are present.
    </ion-card-content>

    <ion-card-header>
      <ion-card-title class="up">SATURATES</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      &nbsp;&nbsp;&nbsp;Saturates (saturated fat) are a type of fat that should be regulated in the diet since too much can lead to obesity, which increases the risk of developing heart disease. Experts recommend that saturated fats account for no more than 10% of total calories (about 20g on a 2000 calorie diet).
    </ion-card-content>

    <ion-card-header>
      <ion-card-title class="up">FIBER</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      &nbsp;&nbsp;&nbsp;Fiber is the nondigestible portion of fruits, vegetables, legumes, and whole grains. Food fiber may help prevent cancer. Fiber refers to tissue in the body made up of long threadlike cells, such as muscle fiber or nerve fiber.
    </ion-card-content>

    <ion-card-header>
      <ion-card-title class="up">PROTEIN</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      &nbsp;&nbsp;&nbsp;A protein is a naturally occurring, exceedingly complex molecule made up of amino acid residues linked together by peptide bonds. Proteins are found in all living species and contain a variety of important biological components such as enzymes, hormones, and antibodies.
    </ion-card-content>

    <ion-card-header>
      <ion-card-title class="up">SALT</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      &nbsp;&nbsp;&nbsp;NaCl is a crystalline substance composed of sodium chloride that is prevalent in nature and is primarily used to season or preserve food or in industry. Also known as common salt.  A material that resembles common salt (such as Glauber's salt).
    </ion-card-content>
  </ion-card>
  <br>
</div>

  <ion-card>
    <img alt="Banner" src="./assets/images/formula.png">
  </ion-card>

  <ion-card>
    <img alt="Calories Needed" src="./assets/images/kcal.png" />
    <ion-card-header class="up">
      <ion-card-title>Calorie Chart</ion-card-title>
      <ion-card-subtitle>Equations</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <img alt="Muller Equation" src="./assets/images/muller.png" />
    <ion-card-header class="up">
      <ion-card-title>Muller Equation</ion-card-title>
      <ion-card-subtitle>Equation 1</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img alt="Harris Benedict Equation" src="./assets/images/harris.png" />
    <ion-card-header class="up">
      <ion-card-title>Harris Benedict Equation</ion-card-title>
      <ion-card-subtitle>Equation 2</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <p class="txt1">Illnesses that is Food Related</p>
  <div>
    <ion-card class="info" color="warning">
      <ion-card-header>
        <ion-card-title class="up">Poor Nutrition</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        &nbsp;&nbsp;&nbsp;For present and future generations to remain healthy throughout their lifespans, proper diet is crucial. A balanced diet lowers a child's chance of developing chronic illnesses and promotes healthy growth and development. Adults who follow a healthy diet have a decreased risk of obesity, heart disease, type 2 diabetes, and several malignancies. They also live longer. People with chronic illnesses can control their symptoms and prevent complications by eating healthfully.
        When there aren't any healthy alternatives, consumers could select for items that are higher in calories and less nutritious. People from low-income areas and some racial and ethnic groups sometimes do not have easy access to establishments that provide inexpensive, healthier foods.
      </ion-card-content>
  
      <ion-card-header>
        <ion-card-title class="up">Obesity</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        &nbsp;&nbsp;&nbsp;Children may grow up healthy and avoid overweight and obesity by eating a nutritious diet and receiving enough exercise and sleep. In the US, 42% of adults and 20% of children aged 2 to 19 are obese, 
        which increases their risk of developing heart disease, type 2 diabetes, and certain malignancies.
      </ion-card-content>
  
      <ion-card-header>
        <ion-card-title class="up">Heart Disease and Stroke</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        &nbsp;&nbsp;&nbsp;High blood pressure and high blood cholesterol are two of the main causes of heart disease and stroke. A high salt diet can raise blood pressure and increase the risk of heart attack and stroke. Although the current recommendations call for less than 2,300 mg per day, 
        the average American takes in more over 3,400 mg daily.
        American diets contain more than 70% of their salt from packaged, processed, grocery-store, and restaurant items. Consuming meals high in fiber and low in saturated fats, expanding access to low-sodium foods, and engaging in regular physical activity can all help avoid high blood pressure and cholesterol.
      </ion-card-content>
  
      <ion-card-header>
        <ion-card-title class="up">Type 2 Diabetes</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        &nbsp;&nbsp;&nbsp;People who are obese or overweight are more likely to develop type 2 diabetes than people who are healthy because, over time, their bodies become less capable of using the insulin they produce. In the US, 96 million adults—more than one in three—have prediabetes, and more than eight out of ten of them are unaware of their condition. Although the number of new cases has declined recently, the number of individuals with diabetes has nearly quadrupled over the past 20 years as a result of the US population's growth, aging, and increase in obesity.
      </ion-card-content>
  
      <ion-card-header>
        <ion-card-title class="up">Cancer</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        &nbsp;&nbsp;&nbsp;A poor diet can make some malignancies more likely. Consuming unhealthily can result in weight gain, obesity, and other chronic conditions that increase the risk of at least 13 different types of cancer, including endometrial (uterine) cancer, breast cancer in postmenopausal women, and colorectal cancer. Unhealthy food and beverages, such as sugar-sweetened beverages and highly processed food, can also contribute to weight gain. Eating red and processed meat is also linked to a higher risk of colorectal cancer.
      </ion-card-content>
    </ion-card>
    <br>
  </div>
</ion-content>

  