<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">D I N N E R</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <br>
  <ion-button class="back" (click)="c3()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <div>
  <ion-card>
    <img alt="Adobong Kangkong" src="./assets/images/kangkong.png" />
    <ion-card-header>
      <ion-card-title>Adobong Kangkong</ion-card-title>
      <ion-card-content>
        Adobong Kangkong is a simple vegetable dish that is considered a staple in many Filipino homes. 
        Water Spinach which is locally known as Kangkong is the main ingredient for this healthy vegetable dish.
      </ion-card-content>
      <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col size="6" size-sm="3">kcal: 169</ion-col>
          <ion-col size="6" size-sm="3">fat: 14g</ion-col>
          <ion-col size="6" size-sm="3">saturates: 1g</ion-col>
          <ion-col size="6" size-sm="3">carbs: 8g</ion-col>
          <ion-col size="6" size-sm="3">sugars: 2g</ion-col>
          <ion-col size="6" size-sm="3">fiber: 1g</ion-col>
          <ion-col size="6" size-sm="3">protein: 4g</ion-col>
          <ion-col size="6" size-sm="3">salt: 1.12g</ion-col>
        </ion-row>
      </ion-grid>

    <ion-card-subtitle>Ingredients:</ion-card-subtitle>
    <ion-card-content>
      <li>1 bunch kangkong leaves and stalks separated. Stalks cut in 1-inch pieces</li>
      <li>1 piece onion chopped</li>
      <li>1 head garlic crushed and chopped</li>
      <li>1/4 cup soy sauce</li>
      <li>1/8 cup vinegar</li>
      <li>1/2 cup water optional</li>
      <li>3 tablespoons cooking oil</li>
      <li>Ground black pepper</li>
    </ion-card-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Directions</ion-card-title>
        <ion-card-subtitle>Step 1</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Heat oil in a pan.
        Add the garlic. Saute until the color turns golden brown. 
        Scoop-out a quarter of the browned garlic and put in a clean bowl. Save this later for garnish.
        Add chopped onion. Saute until it softens.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 2</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Pour the soy sauce and vinegar in the pan. Let the liquid boil.
        Add the Kangkong stalks. Cook for 2 minutes.
        Add the Kangkong leaves. Stir. Continue cooking for 30 to 1 minute. Cover the pan and cook for 1 minute.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 3</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Season with ground black pepper. Note: you may also add salt if needed.
        Transfer to a serving bowl and then top with browned garlic.
        Serve. Share and enjoy!
      </ion-card-content>

    </ion-card>
    </ion-card-header>

  </ion-card>
</div>
</ion-content>
