<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">GoodFood</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <br>
  <ion-button class="back" (click)="tab2()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <ion-card>
    <img alt="Lunch" src="./assets/images/c2.png">
  </ion-card>

  <div>
    <ion-row>
    <ion-col size="6">
  <ion-card (click)="r11()">
    <img alt="Chicken Afritada" src="./assets/images/chickenafritada.png" />
    <ion-card-header>
      <ion-card-title>Chicken Afritada</ion-card-title>
      <ion-card-subtitle>kcal: 583</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  </ion-col>

  <ion-col size="6">
  <ion-card (click)="r12()">
    <img alt="Chicken Caldereta" src="./assets/images/chickencaldereta.png" />
    <ion-card-header>
      <ion-card-title>Chicken Caldereta</ion-card-title>
      <ion-card-subtitle>kcal: 714</ion-card-subtitle>
    </ion-card-header>
  
  </ion-card>
  </ion-col>

  <ion-col size="6">
  <ion-card (click)="r13()">
    <img alt="Ginisang Amapalaya" src="./assets/images/ampalaya.png" />
    <ion-card-header>
      <ion-card-title>Ginisang Amapalaya</ion-card-title>
      <ion-card-subtitle>kcal: 152</ion-card-subtitle>
    </ion-card-header>

  </ion-card>
  </ion-col>

  <ion-col size="6">
  <ion-card (click)="r14()">
    <img alt="Ginisang Munggo" src="./assets/images/munggo.png" />
    <ion-card-header>
      <ion-card-title>Ginisang Munggo</ion-card-title>
      <ion-card-subtitle>kcal: 337</ion-card-subtitle>
    </ion-card-header>

  </ion-card>
  </ion-col>

  <ion-col size="6">
    <ion-card (click)="r15()">
      <img alt="Pininyahang Manok" src="./assets/images/pininyahangmanok.png" />
      <ion-card-header>
        <ion-card-title>Pininyahang Manok</ion-card-title>
        <ion-card-subtitle>kcal: 439</ion-card-subtitle>
      </ion-card-header>
    
    </ion-card>
    </ion-col>

  <ion-col size="6">
  <ion-card (click)="r16()">
    <img alt="Ginisang Togue" src="./assets/images/togue.png" />
    <ion-card-header>
      <ion-card-title>Ginisang Togue</ion-card-title>
      <ion-card-subtitle>kcal: 116 </ion-card-subtitle>
    </ion-card-header>
  
  </ion-card>
  </ion-col>

  <ion-col size="6">
  <ion-card (click)="r17()">
    <img alt="Pork Menudo" src="./assets/images/porkmenudo.png" />
    <ion-card-header>
      <ion-card-title>Pork Menudo</ion-card-title>
      <ion-card-subtitle>kcal: 524</ion-card-subtitle>
    </ion-card-header>

  </ion-card>
  </ion-col>

  <ion-col size="6">
  <ion-card (click)="r18()">
    <img alt="Pork Caldereta" src="./assets/images/porkcaldereta.png" />
    <ion-card-header>
      <ion-card-title>Pork Caldereta</ion-card-title>
      <ion-card-subtitle>kcal: 650</ion-card-subtitle>
    </ion-card-header>
  
  </ion-card>
  </ion-col>

  <ion-col size="6">
  <ion-card (click)="r19()">
    <img alt="Pork Steak" src="./assets/images/porksteak.png" />
    <ion-card-header>
      <ion-card-title>Pork Steak</ion-card-title>
      <ion-card-subtitle>kcal: 265</ion-card-subtitle>
    </ion-card-header>

  </ion-card>
  </ion-col>

  <ion-col size="6">
  <ion-card (click)="r20()">
    <img alt="Pinakbet" src="./assets/images/pinakbet.png" />
    <ion-card-header>
      <ion-card-title>Pinakbet</ion-card-title>
      <ion-card-subtitle>kcal: 179</ion-card-subtitle>
    </ion-card-header>
  
  </ion-card>
</ion-col>
</ion-row>
</div>
</ion-content>

