<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">L U N C H</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <br>
  <ion-button class="back" (click)="c2()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <div>
  <ion-card>
    <img alt="Ginisang Ampalaya" src="./assets/images/ampalaya.png" />
    <ion-card-header>
      <ion-card-title>Ginisang Ampalaya</ion-card-title>
      <ion-card-content>
        The thought we often associate with “ampalaya” is bitterness and a generally unpleasant taste. 
        And while it is true that this vegetable holds this flavor— after all, it is called a bitter melon— 
        it doesn’t always have to taste unfavorable. with the right preparations, it can actually taste satisfyingly flavorful and delicious. 
        A classic dish that utilizes this unique flavor is Ginisang Ampalaya.
      </ion-card-content>
      <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col size="6" size-sm="3">kcal: 152</ion-col>
          <ion-col size="6" size-sm="3">fat: 13g</ion-col>
          <ion-col size="6" size-sm="3">saturates: 1g</ion-col>
          <ion-col size="6" size-sm="3">carbs: 6g</ion-col>
          <ion-col size="6" size-sm="3">sugar: 2g</ion-col>
          <ion-col size="6" size-sm="3">fiber: 2g</ion-col>
          <ion-col size="6" size-sm="3">protein: 4g</ion-col>
          <ion-col size="6" size-sm="3">salt: 0.04g</ion-col>
        </ion-row>
      </ion-grid>

    <ion-card-subtitle>Ingredients:</ion-card-subtitle>
    <ion-card-content>
      <li>2 pieces ampalaya cleaned and cut into thin slices</li>
      <li>1 tbsp garlic minced</li>
      <li>1/2 tsp ground black pepper</li>
      <li>salt to taste</li>
      <li>2 raw eggs</li>
      <li>18 ounces luke warm water</li>
      <li>1 tomato sliced</li>
      <li>1 piece tomato cubed</li>
      <li>1 onion sliced</li>
      <li>3 tbsp cooking oil</li>
    </ion-card-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Instructions</ion-card-title>
        <ion-card-subtitle>Step 1</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Place the ampalaya in a large bowl
        Add salt and lukewarm water then leave for 5 minutes
        Place the ampalaya in a cheesecloth then squeeze tightly until all liquid drips
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 2</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Heat the pan and place the cooking oil
        Saute the garlic, onion, and tomato
        Add the ampalaya mix well with the other ingredients
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 3</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Put-in salt and pepper to taste
        Beat the eggs and pour over the ampalaya then let the eggs cook partially
        Mix the egg with the other ingredients
        Serve hot. Share and Enjoy!
      </ion-card-content>
      
    </ion-card>
    </ion-card-header>

  </ion-card>
</div>
</ion-content>

