<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">D I N N E R</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <br>
  <ion-button class="back" (click)="c3()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <div>
  <ion-card>
    <img alt="Chicken Pochero" src="./assets/images/chickenpochero.png" />
    <ion-card-header>
      <ion-card-title>Chicken Pochero</ion-card-title>
      <ion-card-content>
        Chicken Pochero is a type of stew composed of chicken, sausage, vegetables, plantains, and tomatoes. 
        The harmonious collaboration of different flavors makes this dish extra special.
      </ion-card-content>
      <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col size="6" size-sm="3">kcal: 700</ion-col>
          <ion-col size="6" size-sm="3">fat: 38g</ion-col>
          <ion-col size="6" size-sm="3">saturates: 8g</ion-col>
          <ion-col size="6" size-sm="3">carbs: 48g</ion-col>
          <ion-col size="6" size-sm="3">sugars: 19g</ion-col>
          <ion-col size="6" size-sm="3">fiber: 16g</ion-col>
          <ion-col size="6" size-sm="3">protein: 46g</ion-col>
          <ion-col size="6" size-sm="3">salt: 0.61g</ion-col>
        </ion-row>
      </ion-grid>

    <ion-card-subtitle>Ingredients:</ion-card-subtitle>
    <ion-card-content>
      <li>2 lbs. Chicken cut into serving pieces</li>
      <li>1 piece Knorr Chicken Cube</li>
      <li>2 pieces potato cubed</li>
      <li>2 bunches baby bok choy</li>
      <li>½ head cabbage sliced</li>
      <li>8 ounces tomato sauce</li>
      <li>18 pieces long green beans</li>
      <li>2 pieces Chorizo de Bilbao sliced</li>
      <li>8 ounces chick pea</li>
      <li>3 pieces Saba banana sliced</li>
      <li>2 pieces tomato diced</li>
      <li>1 piece onion chopped</li>
      <li>4 cloves garlic crushed</li>
      <li>2 cups water</li>
      <li>3 tablespoons cooking oil</li>
      <li>Fish sauce and crushed peppercorn to taste</li>
    </ion-card-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Directions</ion-card-title>
        <ion-card-subtitle>Step 1</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Heat oil in a cooking pot. Pan-fry the chicken for 2 minutes per side. Set aside.
        Using the remaining oil, saute onion and garlic.
        Add chorizo. Saute for 1 minute.
        Add tomato. Continue to saute until onion and tomato softens.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 2</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Put the pan-fried chicken back into the pot. Stir.
        Pour tomato sauce and water.Let boil.
        Add Knorr Chicken Cube. Stir and cover the pot. Cook in medium heat for 15 minutes.
        Put potato, saba banana, and chick pea into the pot. Cover and cook for 12 minutes.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 3</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Add long green beans and cabbage. Cover and cook for 3 minutes.
        Add bok choy. Cook for 2 minutes. Season with crushed peppercorn and fish sauce. Stir.
        Tranfer to a serving bowl. Share and enjoy!
      </ion-card-content>

    </ion-card>
    </ion-card-header>

  </ion-card>
</div>
</ion-content>