<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title class="title">D E S S E R T</ion-title>
  </ion-toolbar>
</ion-header>

<br>
<ion-content [fullscreen]="true">
  <br>
  <ion-button class="back" (click)="c4()" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  
  <div>
  <ion-card>
    <img alt="Chocolate Chia Pudding" src="./assets/images/d2.png" />
    <ion-card-header>
      <ion-card-title>Chocolate Chia Pudding</ion-card-title>
      <ion-card-content>
        Make a tasty, healthy chocolate pudding in just five minutes. 
        It's low-calorie and vegan, too, and the chia seeds are a great source of omega-3 fatty acids
      </ion-card-content>
      <ion-card-subtitle>Nutrition: per serving</ion-card-subtitle>
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col size="6" size-sm="3">kcal: 130</ion-col>
          <ion-col size="6" size-sm="3">fat: 7g</ion-col>
          <ion-col size="6" size-sm="3">saturates: 1g</ion-col>
          <ion-col size="6" size-sm="3">carbs: 9g</ion-col>
          <ion-col size="6" size-sm="3">sugar: 6g</ion-col>
          <ion-col size="6" size-sm="3">fiber: 7g</ion-col>
          <ion-col size="6" size-sm="3">protein: 9g</ion-col>
          <ion-col size="6" size-sm="3">salt: 0.3g</ion-col>
        </ion-row>
      </ion-grid>

    <ion-card-subtitle>Ingredients:</ion-card-subtitle>
    <ion-card-content>
      <li>60g chia seeds</li>
      <li>400ml unsweetened almond milk or hazelnut milk</li>
      <li>3 tbsp cacao powder</li>
      <li>2 tbsp maple syrup</li>
      <li>½ tsp vanilla extract</li>
      <li>cacao nibs, mixed</li>
      <li>frozen berries, to serve</li>
    </ion-card-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Directions</ion-card-title>
        <ion-card-subtitle>Step 1</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Put all the ingredients in a large bowl with a generous pinch of sea salt and whisk to combine. 
        Cover with cling film then leave to thicken in the fridge for at least 4 hours, or overnight.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>Step 2</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Spoon the pudding into four glasses, then top with the frozen berries and cacao nibs.
      </ion-card-content> 
    </ion-card>
    </ion-card-header>

  </ion-card>
</div>
</ion-content>
